<div class="popup">
  <div class="background"></div>
  <div class="popup-body">
    <span class="close-popup" (click)="closePopup()">✕</span>
    <div>
      <div class="form-title">
        <h2 style="margin-bottom:1rem;">Cấp lại mật khẩu</h2>
      </div>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input id="email" type="text" formControlName="email" placeholder="Email/SĐT của bạn">
        </div>
        <app-button style="width:100%" type="submit" contentButton="Kiểm tra" backgroundColor="#000"></app-button>
      </form>
    </div>
  </div>
</div>
