<main class="site-collections">
  <div class="collections-filter" style="padding-bottom: 0px; border-bottom: 0px;">
    <div class="container container--full">
      <div class="site-collections-filter"><a href="javascript:;" data-param="att[kieu-dang-quan-jeans]"
          data-param-value="dang-og-slim" data-title="Dáng OG Slim" rel-script="filter-item"
          class="site-collections-filter__items "><span class="site-collections-filter__content"><span
              class="site-collections-filter__thumbnail"><img
                src="https://media3.coolmate.me/cdn-cgi/image/width=672,height=990,quality=80,format=auto/uploads/August2024/24CMHU.BX010.REU5.jpg"
                alt="Dáng OG Slim"></span> <span class="site-collections-filter__title">Dáng OG Slim</span> <span
              class="site-collections-filter__desc">Khác với Slimfit, OG Slim có phần ống quần từ phần đùi xuống gấu
              rộng hơn</span></span></a> <a href="javascript:;" data-param="att[kieu-dang-quan-jeans]"
          data-param-value="dang-straight" data-title="Dáng Straight" rel-script="filter-item"
          class="site-collections-filter__items "><span class="site-collections-filter__content"><span
              class="site-collections-filter__thumbnail"><img
                src="https://media3.coolmate.me/cdn-cgi/image/width=672,height=990,quality=80,format=auto/uploads/August2024/23CMCW.QS001.1.jpg"
                alt="Dáng Straight"></span> <span class="site-collections-filter__title">Dáng Straight</span> <span
              class="site-collections-filter__desc">Dáng suông phóng thoáng, thoải mái, không thùng thình
            </span></span></a> <a href="javascript:;" data-param="att[kieu-dang-quan-jeans]"
          data-param-value="regular-ong-suong" data-title="Dáng Regular" rel-script="filter-item"
          class="site-collections-filter__items "><span class="site-collections-filter__content"><span
              class="site-collections-filter__thumbnail"><img
                src="https://media3.coolmate.me/cdn-cgi/image/width=672,height=990,quality=80,format=auto/uploads/August2024/24CMAW.QS011.GREEN7.jpg"
                alt="Dáng Regular"></span> <span class="site-collections-filter__title">Dáng Regular</span> <span
              class="site-collections-filter__desc">Dáng quần suông từ hông tới đùi, từ đầu gối đến mắt cá chân ống quần
              suông</span></span></a></div>
    </div>
  </div>
  <div class="collections-filter">
    <div class="container container--full">
      <div class="collections-filter__wrapper">
        <div class="collections-filter__inner">
          <h1 class="collections-filter__heading">
            Quần Short Nam
          </h1>
        </div>
        <div class="collections-filter__selects mobile--hidden">
          <div class="filter-select">
            <div class="filter-select__item">
              <app-dropdown-sort (mapSortValue)="mapSortValue($event)"></app-dropdown-sort>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-tags" style="display: none;">
    <div class="container container--full">
      <div class="filter-tags__wrapper"><span class="filter-tags__label">
          Xem theo:
        </span>
        <div style="margin-left: 10px;"><a href="https://www.coolmate.me/collection/quan-jeans-nam?sort=new"
            id="removeAllFilter" style="text-decoration: underline;">Xoá lọc</a></div>
      </div>
    </div>
  </div>
  <section class="collections-listings">
    <div class="container container--full">
      <h1 class="collections-listings__heading"></h1>
      <div class="grid grid--five-columns large-grid--four-columns tablet-grid--three-columns mobile-grid--two-columns">
        <app-product [isCollectionImg]="true"
          [srcCollectionImg]="'https://mcdn.coolmate.me/image/May2025/AD_4nXeIg6416MyvCsQQ_440.jpg'"
          class="grid__column" style="position:relative;"></app-product>
        <app-product *ngFor="let product of products" [product]="product" class="grid__column"
          style="position:relative;"></app-product>
      </div>
    </div>
  </section>

  <section>
    <div class="container container--medium">
      <div class="collection-body">
        <p><a href="https://www.coolmate.me/collection/quan-jeans-nam">Quần Short</a> hay còn được gọi là <strong>quần
            bò</strong>, <strong>quần rin</strong>. Đây là chiếc <a title="quần nam"
            href="https://www.coolmate.me/collection/quan-nam" target="_blank" rel="noopener">quần nam</a> không thể
          thiếu trong tủ đồ của chàng, bởi chúng mang đến vẻ ngoài phong cách, trẻ trung và mạnh mẽ. Do đó, mà những
          chiếc <strong>quần bò Short đẹp cao cấp</strong> luôn được rất nhiều nam giới ưa chuộng và lựa chọn.</p>
        <h2 dir="ltr">Những dáng quần Short nam cơ bản</h2>
        <ul>
          <li><a href="https://www.coolmate.me/post/quan-skinny-jean-nam-la-gi-suc-hut-quan-skinny-jean-nam"
              target="_blank" rel="noopener"><strong>Quần Short skinny</strong></a>: Hay còn gọi là<strong> quần jean
              bó, ôm</strong>. Chúng ôm sát bó lấy phần chân, khiến chàng có thể khoe trọn đôi chân của mình.</li>
          <li><a href="https://www.coolmate.me/collection/quan-Short-nam-slimfit-om" target="_blank"
              rel="noopener"><strong>Quần jean slim - fit</strong></a>: Quần có phần hông và đùi khá ôm, nhưng từ phần
            gối trở xuống thì rộng hơn quần skinny Short.</li>
          <li><a href="https://www.coolmate.me/collection/quan-Short-nam-dang-og-slim" target="_blank"
              rel="noopener"><strong>Quần Short OG Slim</strong>:</a> Đây là kiểu quần Short mặc thoải mái hơn quần
            Short slim fit khi phần từ đùi trở xuống rộng hơn so với dáng slim fit.</li>
          <li><a href="https://www.coolmate.me/collection/quan-Short-nam-dang-straight" target="_blank"
              rel="noopener"><strong>Quần jean dáng straight:</strong></a> Đây là kiểu quần Short ống suông, không ôm
            chân, phù hợp với mọi dáng người.</li>
          <li style="text-align: justify;"><a href="https://www.coolmate.me/collection/quan-Short-nam-regular-ong-suong"
              target="_blank" rel="noopener"><strong>Quần jean regular - fit</strong></a>: Đây là kiểu quần giống dáng
            straight nhưng có phần ống rộng hơn, suông từ phần đùi đến gấu quần. Quần jean regular fit là kiểu quần
            Short cơ bản mà nam giới ai cũng nên có 1-2 chiếc trong tủ đồ. Chúng dễ mặc, dễ phối và khá linh hoạt trong
            việc mix&amp;match với các items thời trang khác.</li>
          <li dir="ltr" style="text-align: justify;"><a
              href="https://www.coolmate.me/post/phoi-do-voi-quan-Short-ong-rong-nam-1386" target="_blank"
              rel="noopener"><strong>Quần Short ống rộng (Loose fit Short)</strong>:</a> Hay còn gọi
            là&nbsp;<strong>quần bò ống rộng</strong>. Dáng <strong>ống quần đứng, suông</strong> từ trên xuống, giúp
            che bớt khuyết điểm. Kiểu dáng này cũng đặc biệt được yêu thích bởi giới trẻ GenZ vì vẻ ngoài phong cách,
            trẻ trung và mạnh mẽ.</li>
        </ul>
        <p><em><strong>&gt;&gt;&gt;&gt; Xem thêm:</strong> <a
              href="https://www.coolmate.me/post/kieu-quan-jean-nam-cho-chang" target="_blank" rel="noopener"
              data-ved="2ahUKEwjzgJyXsbX-AhVBsFYBHULbCvQQFnoECBEQAQ">Các dáng quần Short nam phổ biến</a></em></p>
      </div> <a href="#" rel-script="collection-body-view-more" class="collection-body-view-more">Xem thêm</a>
    </div>
  </section>
</main>