<div class="py-4">
    <div class="mt-4">
        <div class="mb-2 text-base font-bold uppercase">Thông số sản phẩm</div>
        <div class="overflow-x-auto">
            <div class="relative overflow-x-auto">
                <table class="relative w-full border border-neutral-200 font-criteria">
                    <thead>
                        <tr class="border-b border-neutral-200 bg-light">
                            <th
                                class="sticky left-0 z-10 bg-light p-2 text-sm font-bold leading-5 text-neutral-800 min-w-32 text-start">
                                Size</th>
                            <th class="p-2 text-center text-sm font-bold leading-5 text-neutral-800 min-w-24">S</th>
                            <th class="p-2 text-center text-sm font-bold leading-5 text-neutral-800 min-w-24">M</th>
                            <th class="p-2 text-center text-sm font-bold leading-5 text-neutral-800 min-w-24">L</th>
                            <th class="p-2 text-center text-sm font-bold leading-5 text-neutral-800 min-w-24">XL</th>
                            <th class="p-2 text-center text-sm font-bold leading-5 text-neutral-800 min-w-24">2XL</th>
                            <th class="p-2 text-center text-sm font-bold leading-5 text-neutral-800 min-w-24">3XL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b border-b-neutral-200 bg-neutral-100">
                            <td
                                class="sticky left-0 z-10 whitespace-pre-wrap p-2 text-sm font-bold text-neutral-800 bg-neutral-100 min-w-32 text-start">
                                Chiều cao</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                1m55 - 1m59</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                1m69 - 1m65</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                1m66 - 1m72</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                1m72 - 1m77</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                1m77 - 1m83</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                1m83 - 1m89</td>
                        </tr>
                        <tr class="border-b border-b-neutral-200 bg-light">
                            <td
                                class="sticky left-0 z-10 whitespace-pre-wrap p-2 text-sm font-bold text-neutral-800 bg-light min-w-32 text-start">
                                Cân nặng</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                48kg - 54kg</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                55kg - 61kg</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                62kg - 68kg</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                69kg - 75kg</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                76kg - 82kg</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                85kg - 90kg</td>
                        </tr>
                        <tr class="border-b border-b-neutral-200 bg-neutral-100">
                            <td
                                class="sticky left-0 z-10 whitespace-pre-wrap p-2 text-sm font-bold text-neutral-800 bg-neutral-100 min-w-32 text-start">
                                Dài áo</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                66</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                67</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                69</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                71</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                73</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                75</td>
                        </tr>
                        <tr class="border-b border-b-neutral-200 bg-light">
                            <td
                                class="sticky left-0 z-10 whitespace-pre-wrap p-2 text-sm font-bold text-neutral-800 bg-light min-w-32 text-start">
                                1/2 Ngang ngực</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                47</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                49</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                51</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                53</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                55</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                57</td>
                        </tr>
                        <tr class="border-b border-b-neutral-200 bg-neutral-100">
                            <td
                                class="sticky left-0 z-10 whitespace-pre-wrap p-2 text-sm font-bold text-neutral-800 bg-neutral-100 min-w-32 text-start">
                                Dài tay</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                35</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                36.5</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                38</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                39.5</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                41</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                42.5</td>
                        </tr>
                        <tr class="border-b border-b-neutral-200 bg-light">
                            <td
                                class="sticky left-0 z-10 whitespace-pre-wrap p-2 text-sm font-bold text-neutral-800 bg-light min-w-32 text-start">
                                Rộng bắp tay</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                19.6</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                20.4</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                21.2</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                22</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                22.8</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                23.6</td>
                        </tr>
                        <tr class="border-b border-b-neutral-200 bg-neutral-100">
                            <td
                                class="sticky left-0 z-10 whitespace-pre-wrap p-2 text-sm font-bold text-neutral-800 bg-neutral-100 min-w-32 text-start">
                                Rộng cửa tay</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                16</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                16.5</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                17</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                17.5</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                18</td>
                            <td
                                class="p-2 text-center font-sans text-sm text-neutral-700 hover:bg-neutral-200 hover:text-primary">
                                18.5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="mt-4 rounded bg-neutral-200 px-4 py-3 font-sans text-sm leading-4.5 text-neutral-800/90">
        <p class="font-bold">Trường hợp số đo của bạn nằm trong khoảng giữa các size với nhau:</p>
        <ul class="list-disc pl-4">
            <li>Với áo thun, bạn hãy lựa chọn ưu tiên theo chiều cao</li>
            <li>Ví dụ chiều cao của bạn theo size L nhưng cân nặng của bạn theo size M, hãy chọn L.</li>
            <li>97% khách hàng của chúng tôi đã chọn đúng size theo cách này.</li>
        </ul>
    </div>
</div>