<div class="footer">
  <div class="container">
    <div class="footer--inner">
      <div class="my--footer-menu">
        <div class="footer--menu">
          <div class="footer--menu__item">
            <h4 class="footer--menu__title">Khám phá tao mate</h4>
            <ul>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
            </ul>
          </div>
          <div class="footer--menu__item">
            <h4 class="footer--menu__title">Khám phá tao mate</h4>
            <ul>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
            </ul>
          </div>
          <div class="footer--menu__item">
            <h4 class="footer--menu__title">Khám phá tao mate</h4>
            <ul>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
            </ul>
          </div>
          <div class="footer--menu__item">
            <h4 class="footer--menu__title">Khám phá tao mate</h4>
            <ul>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
              <li>Áo polo</li>
            </ul>
          </div>
        </div>
        <div class="footer--sidebar">
          <h4 class="sidebar--title">TAOMATE lắng nghe bạn!</h4>
          <p class="sidebar--decription">Chúng tôi luôn trân trọng và mong đợi nhận được mọi ý kiến đóng góp từ khách hàng để có thể nâng cấp trải nghiệm dịch vụ và sản phẩm tốt hơn nữa.</p>
        </div>
      </div>
    </div>
    <div class="footer--below"></div>
  </div>
</div>
