<div class="packet">
  <div class="top--bar">
    <a href="#">
      <marquee style="color:black;">
        Gọi 1900 2727 37 nếu bạn cần hỗ trợ mua hàng giao gấp
        <span style="padding-right: 100px;">
        </span>
        <span>
          ƯU ĐÃI 2.2, GIẢM ĐẾN 35% SẢN PHẨM MẶC HÀNG NGÀY
          <span style="padding-right: 100px;"></span>
          <span>Miễn phí vận chuyển cho đơn từ 200k
            <span style="padding-right: 100px;"></span>
            <span>
              Gọi 1900 2727 37 nếu bạn cần hỗ trợ mua hàng giao gấp
              <span style="padding-right: 100px;"></span>
              <span>
                ƯU ĐÃI 2.2, GIẢM ĐẾN 35% SẢN PHẨM MẶC HÀNG NGÀY
                <span style="padding-right: 100px;"></span>
                <span>
                  Miễn phí vận chuyển cho đơn từ 200k
                  <span style="padding-right: 100px;">
                  </span>
                  <span>
                  </span></span></span></span></span></span>
      </marquee>
    </a>
  </div>
  <div class="nav--pc">
    <div class="header" >
      <div class="header--inner" *ngIf="!isShowInputSearch">
        <div class="header--logo">
          <a href="/"><img src="https://www.coolmate.me/images/logo-coolmate.svg" alt="Logo Coolmate"></a>
        </div>
        <div class="header--menu">
          <ul class="list--menu">
            <li view-menu class="list--menu__item">
              <a [routerLink]="['/all-product']">Sản phẩm</a>
              <div class="mega--menu__product">
                <div class="mega--menu__wrapper">
                  <div class="mega--menu__inner">
                    <div class="mega--menu__item">
                      <a class="mega--menu__title">Nhu cầu</a>
                      <ul class="mega--menu__list">
                        <li>
                          <a style="color: red;">CoolGift
                          </a>
                        </li>
                        <li>
                          <a>Đồ thu - đông
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Fall-Winter Collection</span>
                          </a>
                        </li>
                        <li>
                          <a>Mặc nhà & Mặc trong
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Homewear & Underwear</span>
                          </a>
                        </li>
                        <li>
                          <a>Mặc hằng ngày
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Casualwear</span>
                          </a>
                        </li>
                        <li>
                          <a>Đồ thể thao
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Activewear</span>
                          </a>
                        </li>
                        <li>
                          <a>Phụ kiện
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Accessories</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="mega--menu__item">
                      <a class="mega--menu__title">Danh mục</a>
                      <ul class="mega--menu__list">
                        <li>
                          <a> Áo Nam</a>
                        </li>
                        <li class="sub-title">
                          <a> Áo sơ mi</a>
                        </li>
                        <li class="sub-title">
                          <a> Áo polo - thun</a>
                        </li>
                        <li last-child class="sub-title">
                          <a> Áo thể thao</a>
                        </li>
                        <li last-child class="">
                          <a>Quần nam</a>
                        </li>
                        <li last-child class="sub-title">
                          <a>Quần jeans</a>
                        </li>
                        <li last-child class="sub-title">
                          <a>Quần short</a>
                        </li>
                        <li last-child class="sub-title">
                          <a>Quần dài</a>
                        </li>
                      </ul>
                    </div>
                    <div class="mega--menu__item">
                      <a class="mega--menu__title">Bộ sưu tập</a>
                      <ul class="mega--menu__list">
                        <li>
                          <a> Vũ trụ áo Marvel
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Bước vào thế giới siêu anh hùng</span>
                          </a>
                        </li>
                        <li>
                          <a>Clean Vietnam
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Sự kết hợp wowcool & vietmax</span>
                          </a>
                        </li>
                        <li>
                          <a>Wowcool Basics
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Mua sắm tiết kiệm với giá tốt</span>
                          </a>
                        </li>
                        <li>
                          <a>Care & Share
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">10% doanh thu cho các bé</span>
                          </a>
                        </li>
                        <li>
                          <a>Sản phẩm bền vững
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Sản phẩm thân thiện với môi trường</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="mega--menu__item">
                      <a class="mega--menu__title">Công nghệ</a>
                      <ul class="mega--menu__list">
                        <li>
                          <a> Excool
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Công nghệ làm mát tối đa</span>
                          </a>
                        </li>
                        <li>
                          <a>Cleandye
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Nhuộm không dùng nước</span>
                          </a>
                        </li>
                        <li>
                          <a>
                            HeiQ Viroblock
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Diệt 99.99% virus SARS-Cov2</span>
                          </a>
                        </li>
                        <li>
                          <a>Anti-Smell
                            <span style="display: block; font-size: 80%; margin-top: -1%; font-weight: normal; width: 100%;">Công nghệ khử mùi Nhật Bản</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="list--menu__item">
              <a [routerLink]="['/rising']">84RISING*</a>
            </li>
            <li class="list--menu__item">
              <a [routerLink]="['/coolxprint']">Coolxprint</a>
            </li>
            <li class="list--menu__item">
              <a [routerLink]="['/blog']">Blog</a>
            </li>
            <li class="list--menu__item">
              <a [routerLink]="['/aboutcoolmate']">Về Coolmate</a>
            </li>

          </ul>
        </div>
        <div class="header--actions">
          <img src="https://www.coolmate.me/images/header/icon-search.svg" alt="Icon Search"  (click)="clickedSearch()">
          <img src="https://www.coolmate.me/images/header/icon-account.svg" width="18" height="23"  *ngIf="!isAuthenticated" alt="Icon Account" (click)="clickedUser()">
            <div *ngIf="isAuthenticated" class="user" style="position: relative;">
              <img src="https://www.coolmate.me/images/header/coolclub-header-icon.svg" width="18" height="23" alt="Icon">
              <div class="header-actions__menu">
                <div class="header-actions__inner">
                  <div class="header-account">
                    <ul class="no-style">
                      <li><a href="/account" class="header-account__item"><span class="header-account__icon"><img
                              src="https://www.coolmate.me/images/header/icon-account.svg" alt="Icon Header Orders"></span>
                          THÔNG TIN CÁ NHÂN
                        </a></li>
                      <li><a href="/account/orders" class="header-account__item"><span class="header-account__icon"><img
                              src="https://www.coolmate.me/images/header/icon-order.svg" alt="Icon Header Orders"></span>
                          DANH SÁCH ĐƠN HÀNG
                        </a></li>
                      <li><a href="/account/coolsubs" class="header-account__item"><span class="header-account__icon"><img
                              src="https://www.coolmate.me/images/header/icon-coolsub.svg" alt="Icon Header Coolsub"></span>
                          COOLSUB
                        </a></li>
                      <li><a href="/" class="header-account__item" (click)="logout()"><span
                            class="header-account__icon"><img src="https://www.coolmate.me/images/header/icon-logout.svg"
                              alt="Icon Header Logout"></span>
                          THOÁT
                        </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          <a [routerLink]="['/cart']" routerLinkActive="router-link-active"><img
              src="https://www.coolmate.me/images/header/icon-cart.svg" alt="Icon mini cart"></a>
        </div>
      </div>
      <div class="header--search">
        <app-input-search *ngIf="isShowInputSearch" (offClick)="offClick()"></app-input-search>
      </div>
    </div>
  </div>



  <!-- Responsive MOBILE -->
  <div class="nav--mobile">
    <div class="nav--overlay"></div>
    <div class="navbar--mobile">
      <div style="display: none;" class="nav--all" [ngClass]="{'isShow': !isShow}">
        <!-- Thêm nội dung mới tại đây -->
        <ul class="nav--list">
          <li>
            <a class="nav--link">Áo nam</a>
          </li>
          <li>
            <a class="nav--link">Quần jeans</a>
          </li>
          <li>
            <a class="nav--link">Phụ kiện</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header">
      <div class="header--inner header--inner__mobile">
        <div class="header--menu header--menu__mobile">
          <div class="nav--btn">
            <svg [ngClass]="{'isHide':isHide ,'isShow':isShow}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" (click)="clickMenuFunc()">
              <path
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
            </svg>
            <div class="nav--mobile-close">
              <svg [ngClass]="{'isShow': !isShow}" (click)="closeMenu()" style="width: 16px;height: 16px; display: none;" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path
                  d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="header--logo">
          <a href="/"><img src="https://www.coolmate.me/images/logo-coolmate.svg" alt="Logo Coolmate"></a>
        </div>
        <div class="header--actions">
          <img src="https://www.coolmate.me/images/header/icon-search.svg" alt="Icon Search"  (click)="clickedSearch()">
          <img src="https://www.coolmate.me/images/header/icon-account.svg" alt="Icon Account" (click)="clickedUser()">
          <a [routerLink]="['/cart']" routerLinkActive="router-link-active"><img src="https://www.coolmate.me/images/header/icon-cart.svg" alt="Icon mini cart"></a>
        </div>
      </div>
    </div>
  </div>
</div>



<div>{{status}}</div>
<ng-container *ngTemplateOutlet="action"></ng-container>
<ng-template #action>
  <app-login
  *ngIf="isLogin"
  (returnDefaultVal)="isLogin = false;isRegister = false;"
  (showRegister)="isRegister = true;isLogin = false"
  (showForgotPassword)="isNewPassword = true;isLogin = false; isRegister = false"
  ></app-login>
  <app-new-password *ngIf="isNewPassword"
  (returnDefaultVal)="isNewPassword = false;isLogin = false; isRegister = false"
  ></app-new-password>
  <app-register
  *ngIf="isRegister"
  (returnDefaultVal)="isLogin = false; isRegister = false"
  (showForgotPassword)="isNewPassword = true;isLogin = false; isRegister = false"
  (showFormLogin)="isLogin = true; isRegister = false"
  ></app-register>
</ng-template>
