<main class="site-collections">
  <div class="collections-filter">
    <div class="container container--full">
      <div class="collections-filter__wrapper">
        <div class="collections-filter__inner">
          <h2 class="collections-filter__heading">
            Sản phẩm
          </h2>
        </div>
        <div class="collections-filter__selects mobile--hidden">
          <div class="filter-select">
            <div class="filter-select__item">
              <div class="custom-select">
                <p-dropdown [options]="sort" optionLabel="value" (onChange)="onDropdownChange1($event)" [(ngModel)]="selectedSortValue"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-tags" style="display: unset;" *ngIf="selectedSort">
    <div class="container container--full">
      <div class="filter-tags__wrapper"><span class="filter-tags__label">
          Xem theo:
        </span>
        <div class="filter-tags__item">
          <a class="filter-tags__remove" (click)="removeAllFilter()"></a>
          <span class="filter-tags__text">{{selectedSort}}</span>
        </div>
        <div style="margin-left: 10px;"><a style="text-decoration: underline;" (click)="removeAllFilter()">Xoá lọc</a>
        </div>
      </div>
    </div>
  </div>
  <section class="collections-listings">
    <div class="container container--full">
      <h1 class="collections-listings__heading"></h1>
      <div class="grid grid--five-columns large-grid--four-columns tablet-grid--three-columns mobile-grid--two-columns">
        <app-product [isCollectionImg]="true"
          [srcCollectionImg]="'https://mcdn.coolmate.me/image/December2024/phu-kien-nam-chat-luong_64.jpg'"
          class="grid__column" style="position:relative;"></app-product>
        <app-product *ngFor="let product of products" [product]="product" class="grid__column"
          style="position:relative;"></app-product>
      </div>
    </div>
  </section>
  <section>
    <div class="container container--medium">
      <div class="collection-body">
        <p dir="ltr">Phụ kiện tập gym: là những món đồ hỗ trợ người tập trong việc đảm bảo an toàn và sức mạnh khi tập luyện…</p>
        <h2 dir="ltr">Một số phụ kiện phổ biến hiện nay</h2>
        <p dir="ltr">Đai lưng: là một vật dụng để hỗ trợ gồng core tốt hơn và đảm bảo an toàn vùng thắt lưng.
        </p>
        <p dir="ltr">Xỏ gối: một vật dụng không thể thiếu trong bài Squad.</p>
        <p dir="ltr">Xỏ khuỷu tay: là một món đồ quen thuộc trong bài Bench press.</p>
      </div>
       <a href="#" rel-script="collection-body-view-more" class="collection-body-view-more">Xem thêm</a>
    </div>
  </section>
</main>
