<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <main class="site-collections">
        <div class="site-collections-filter">
          <a class="site-collections-filter__items" *ngFor="let img of imgCollections">
            <span><img src="{{img}}" alt=""></span>
          </a>
        </div>
        <div class="collections-filter"></div>
        <section class="collections-listings">
          <div class="container container--full">
            <div class="collections-title">
              <h2 class="collections-listings__heading">
                Quần Nam
              </h2>
              <a style="margin-top: 10px" href="https://www.coolmate.me/collection/bst-thu-dong1">
                Xem tất cả
              </a>
            </div>
            <!-- bố cục sản phẩm -->
            <div
              class="grid grid--five-columns large-grid--four-columns tablet-grid--three-columns mobile-grid--two-columns product-list">
              <!-- vòng lặp  -->
              <app-product [isCollectionImg]="true" class="grid__column" style="position:relative;"></app-product>
              <app-product *ngFor="let product of products" [product]="product" class="grid__column" style="position:relative;"></app-product>
              <app-product [isLoadmore]="true" class="grid__column" style="position:relative;"></app-product>
              <!-- end vòng lặp -->
            </div>
            <!-- end -->

          </div>
        </section>
      </main>
    </div>
  </div>
</div>
