<div class="container">
  <div id="detail-order">
    <div class="thank-box text--center" style="padding: 0px;">
      <h1 class="text--upper" style="margin-bottom: 1rem;">Thông tin đơn hàng của bạn</h1>
      <div class="grid">
        <div class="grid__column three-twelfths mobile--one-whole">
          <div class="order-date" style="justify-content: flex-start;" data-gtm-vis-recent-on-screen-11288696_98="59"
            data-gtm-vis-first-on-screen-11288696_98="59" data-gtm-vis-total-visible-time-11288696_98="100"
            data-gtm-vis-has-fired-11288696_98="1"><a href="javascript:void(0)" class="btn btn--cancel"
              style="text-decoration: none; margin-top: 0px; font-size: 14px;">Hủy đơn hàng</a></div>
        </div>
        <div class="grid__column six-twelfths mobile--one-whole">
          <div class="order-title">
            <div>
              ĐƠN HÀNG #831016520
              <span class="menu-tag menu-tag--hot" style="font-size: 14px; padding: 5px 7px;">
                Chờ xác nhận
              </span>
            </div>
          </div>
        </div>
        <div class="grid__column three-twelfths mobile--one-whole">
          <div class="order-date" data-gtm-vis-has-fired-11288696_98="1">
            Ngày đặt:
            06:40 22.03.2023
          </div>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th width="120px">Giá niêm yết</th>
            <th>Biến thể</th>
            <th class="text--right">Thành tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text--left">
              Quần nỉ nam Jogger Casual co giãn
            </td>
            <td>2</td>
            <td>
              179.000đ
              <del style="font-size: 12px;">
                299.000đ
              </del>
            </td>
            <td>
              Xám nhạt / L
            </td>
            <td>358.000đ</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              Mã giảm giá
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="4">
              Tổng giá trị sản phẩm
            </td>
            <td>
              358.000đ
            </td>
          </tr>
          <tr>
            <td colspan="4">
              Tổng khuyến mãi
            </td>
            <td>
              0đ
            </td>
          </tr>
          <tr>
            <td colspan="4">Phí giao hàng</td>
            <td>0đ</td>
          </tr>
          <tr class="total_payment">
            <td colspan="4">
              Tổng thanh toán
            </td>
            <td>
              358.000đ
            </td>
          </tr>
        </tfoot>
      </table>
      <p class="order-heading">
        Thông tin nhận hàng
      </p>
      <div class="box text--left">
        <p>Tên người nhận:
          <span class="text--bold">
            Đặng Ngọc Như
          </span>
        </p>
        <p>Địa chỉ Email:
          <span class="text--bold">
            688972612635227@facebook.com
          </span>
        </p>
        <p>Số điện thoại:
          <span class="text--bold">
            0339541266
          </span>
        </p>
        <p>Hình thức thanh toán:
          <span class="text--bold">
            COD
          </span>
        </p>
        <div>Địa chỉ giao hàng:
          <span class="text--bold">
            Xóm 13, Trực Thái, Trực Ninh, Nam Định, Huyện Trực Ninh, Nam Định
          </span>
        </div>
      </div>
    </div>
    <div rel-script="cancel-popup" class="popup popup-leave-active popup-leave-to"
      style="transition: all 0.3s ease 0s;">
      <div rel-script="cancel-popup-close" class="backdrop"></div>
      <div class="popup-body"><span rel-script="cancel-popup-close" class="close-popup">✕</span>
        <div class="popup__wrapper">
          <div class="text--center">
            <h3>Bạn có muốn hủy đơn hàng?</h3>
          </div>
          <div class="display-flex text--center" style="margin-top: 25px;"><a href="javascript:void(0)"
              class="btn btn-secondary btn--close" style="width: 150px; max-width: 100%;">Trở
              lại</a> <a
              href="https://www.coolmate.me/update-order/ODMxMDE2NTIwfDY4ODk3MjYxMjYzNTIyN0BmYWNlYm9vay5jb20="
              class="btn btn--primary" style="margin-left: 15px;">Hủy đơn hàng</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
