<main class="site-pod">
  <section class="pod-banner"><video muted="muted" autoplay="autoplay" loop="loop"
      poster="https://www.coolmate.me/images/cxp-placholder.png" class="pod-banner__video">
      <source src="https://mcdn.coolmate.me/uploads/assets/0216.mp4 " type="video/mp4" style="pointer-events: none;">
    </video>
    <div class="pod-banner__filter"></div>
    <div class="container container--medium" style="height: 100%;">
      <div class="pod-banner__content">
        <h1 class="pod-banner__heading">CoolxPrint</h1>
        <p class="pod-banner__description">
          Đặt sản xuất chưa bao giờ <br>
          đơn giản đến thế
        </p>
        <div class="pod-banner__policy"><a href="#mockup" class="pod-banner__button scroll-to-step"> Gửi yêu cầu </a>
        </div>
        <div class="pod-banner__featured">
          <div class="pod-banner__featured-wrapper">
            <div href="#" class="pod-banner__featured-item"> Số lượng ít</div>
            <div href="#" class="pod-banner__featured-item"> Giá cả cạnh tranh</div>
            <div href="#" class="pod-banner__featured-item"> Bảo hành 60 ngày</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pod-why">
    <div class="container">
      <h2 class="pod-why__heading">
        Vì sao lựa chọn CoolxPrint?
      </h2>
      <div class="grid">
        <div class="grid__column three-twelfths mobile--one-half">
          <div class="pod-why__card">
            <div class="card__item__icon"><img src="https://mcdn.coolmate.me/image/February2023/mceclip0_60.png" alt="">
            </div>
            <div class="card__item__content">
              <div class="card__item__title">
                Chất lượng đảm bảo
              </div>
              <p class="card__item__description">
                Các sản phẩm thuộc dự án CoolxPrint được sản xuất theo tiêu chuẩn như các sản phẩm tương
                tự của Coolmate
              </p>
            </div>
          </div>
        </div>
        <div class="grid__column three-twelfths mobile--one-half">
          <div class="pod-why__card">
            <div class="card__item__icon"><img src="https://mcdn.coolmate.me/image/February2023/mceclip1_22.png" alt="">
            </div>
            <div class="card__item__content">
              <div class="card__item__title">
                Dịch vụ tận tâm
              </div>
              <p class="card__item__description">
                CoolxPrint cam kết đem đến trải nghiệm 100% hài lòng với mọi khách hàng. Nếu không hài lòng, chúng tôi
                sẽ hoàn trả lại tiền cho bạn.
              </p>
            </div>
          </div>
        </div>
        <div class="grid__column three-twelfths mobile--one-half">
          <div class="pod-why__card">
            <div class="card__item__icon"><img src="https://mcdn.coolmate.me/image/February2023/mceclip2_6.png" alt="">
            </div>
            <div class="card__item__content">
              <div class="card__item__title">
                In với số lượng ít
              </div>
              <p class="card__item__description">
                Nhờ chuỗi cung ứng sản xuất mạnh và linh hoạt, CoolxPrint sẵn sàng hỗ trợ bạn sản xuất, in mới, với số
                lượng từ 1 cho tới hàng vạn chiếc.
              </p>
            </div>
          </div>
        </div>
        <div class="grid__column three-twelfths mobile--one-half">
          <div class="pod-why__card">
            <div class="card__item__icon"><img src="https://mcdn.coolmate.me/image/February2023/mceclip4_79.png" alt="">
            </div>
            <div class="card__item__content">
              <div class="card__item__title">
                Xử lý nhanh chóng
              </div>
              <p class="card__item__description">
                Chủ động sản xuất và in với số lượng ít chỉ trong 24h và giao hàng toàn quốc. CoolxPrint đã có kỷ lục
                sản xuất 1000 chiếc áo trong vòng 24 tiếng
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pod-activity">
    <div class="container">
      <div class="pod-activity__card">
        <div class="pod-activity__heading-card">
          <div class="pod-activity__heading-top">
            <h2>CoolxPrint <br> hoạt động <br>như thế nào?</h2>
          </div>
          <div class="pod-activity__heading-cta mobile--hidden tablet--hidden">
            <p>Chưa bao giờ đơn giản đến thế.</p> <a href="#mockup" class="btn btn--primary scroll-to-step">Gửi yêu
              cầu</a>
          </div>
        </div>
        <div class="pod-activity__card grid-item">
          <div class="card__item">
            <div class="card__item__icon"><img src="https://mcdn.coolmate.me/image/February2023/mceclip5_26.png" alt="">
            </div>
            <div class="card__item__content">
              <div class="card__item__title">
                Tiếp nhận yêu cầu
              </div>
              <p class="card__item__description">
                Gửi yêu cầu trực tiếp hoặc qua <br> Hotline: <a href="tel:1900 272 735"> 1900 272 735</a></p>
            </div>
          </div>
          <div class="card__item">
            <div class="card__item__icon"><img src="https://mcdn.coolmate.me/image/February2023/mceclip6_30.png" alt="">
            </div>
            <div class="card__item__content">
              <div class="card__item__title">
                Tư vấn thiết kế
              </div>
              <p class="card__item__description">
                Lên thiết kế, chào mẫu theo yêu cầu <br> để khách hàng duyệt
              </p>
            </div>
          </div>
          <div class="card__item">
            <div class="card__item__icon"><img src="https://mcdn.coolmate.me/image/February2023/mceclip7_23.png" alt="">
            </div>
            <div class="card__item__content">
              <div class="card__item__title">
                Gửi báo giá
              </div>
              <p class="card__item__description">
                Được gửi ngay sau khi thống nhất mẫu <br> (thường là 24h)
              </p>
            </div>
          </div>
          <div class="card__item">
            <div class="card__item__icon"><img src="https://mcdn.coolmate.me/image/February2023/mceclip8_64.png" alt="">
            </div>
            <div class="card__item__content">
              <div class="card__item__title">
                Giao hàng và cám ơn
              </div>
              <p class="card__item__description">
                Giao hàng toàn quốc <br> và thường là miễn phí cước
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="products" class="pod-products">
    <div class="container">
      <h2 class="pod-products__heading">
        CÁC SẢN PHẨM CỦA COOLXPRINT
      </h2>
      <div class="tab-header tab-collection-get-header"><a href="#" data-tab-id="all"
          class="tab-header__item is-active"><span>Tất cả (12)</span></a> <a href="#" data-tab-id="ao"
          class="tab-header__item"><span>Áo in (5)</span></a> <a href="#" data-tab-id="quan"
          class="tab-header__item"><span>Quần in (1)</span></a> <a href="#" data-tab-id="underwear"
          class="tab-header__item"><span>Underwear (1)</span></a> <a href="#" data-tab-id="phu-kien"
          class="tab-header__item"><span>Phụ kiện (5)</span></a></div>
      <div class="tab-content">
        <div data-tab-content="all" class="tab-content__item">
          <div class="tab-collection-get-content grid">
            <div data-collection-id="ao" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="thun" class="pod-grid__image"><img
                        src="https://media.coolmate.me/image/February2023/mceclip18_22.png" alt="images" style=""></div>
                  </div>
                  <div class="pod-grid__tagline"><span>Áo T-shirt</span> Số lượng tối thiểu: 2 chiếc
                  </div>
                </div>
              </div>
            </div>
            <div data-collection-id="ao" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="polo" class="pod-grid__image"><img
                        src="https://media.coolmate.me/image/February2023/mceclip34_9.png" alt="images" style=""></div>
                  </div>
                  <div class="pod-grid__tagline"><span>Áo polo</span> Số lượng tối thiểu: 2 chiếc
                  </div>
                </div>
              </div>
            </div>
            <div data-collection-id="ao" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="hoodie" class="pod-grid__image"><img
                        src="https://mcdn.coolmate.me/image/March2023/mceclip16.png" alt="images" style=""></div>
                  </div>
                  <div class="pod-grid__tagline"><span>Áo khoác/Hoodies</span> Số lượng tối thiểu: 2 chiếc
                  </div>
                </div>
              </div>
            </div>
            <div data-collection-id="ao" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="dai-tay" class="pod-grid__image"><img
                        src="	https://media.coolmate.me/image/February2023/mceclip21_56.png" alt="images" style="">
                    </div>
                  </div>
                  <div class="pod-grid__tagline"><span>Áo dài tay</span> Số lượng tối thiểu: 2 chiếc
                  </div>
                </div>
              </div>
            </div>
            <div data-collection-id="ao" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="so-mi" class="pod-grid__image"><img
                        src="https://media.coolmate.me/image/February2023/mceclip22_97.png"
                        src="https://media.coolmate.me/image/February2023/mceclip22_97.png" alt="images"></div>
                  </div>
                  <div class="pod-grid__tagline"><span>Áo sơ mi</span> Số lượng tối thiểu: 2 chiếc
                  </div>
                </div>
              </div>
            </div>
            <div data-collection-id="underwear" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="underwear" class="pod-grid__image"><img
                        src="https://www.coolmate.me/images/placeholder-image.png"
                        src="https://media.coolmate.me/image/February2023/mceclip32_5.png" alt="images"></div>
                  </div>
                  <div class="pod-grid__tagline"><span>Quần lót</span> Số lượng tối thiểu: 2 chiếc
                  </div>
                </div>
              </div>
            </div>
            <div data-collection-id="quan" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="quan" class="pod-grid__image"><img
                        src="https://www.coolmate.me/images/placeholder-image.png"
                        src="https://media.coolmate.me/image/February2023/mceclip31_38.png" alt="images"></div>
                  </div>
                  <div class="pod-grid__tagline"><span>Quần Short</span> Số lượng tối thiểu: 2 chiếc
                  </div>
                </div>
              </div>
            </div>
            <div data-collection-id="phu-kien" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="mu" class="pod-grid__image"><img
                        src="https://www.coolmate.me/images/placeholder-image.png"
                        src="https://mcdn.coolmate.me/image/March2023/mceclip14.png" alt="images"></div>
                  </div>
                  <div class="pod-grid__tagline"><span>Mũ lưỡi trai/ mũ bucket</span> Số lượng tối thiểu: 2 chiếc
                  </div>
                </div>
              </div>
            </div>
            <div data-collection-id="phu-kien" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="khau-trang" class="pod-grid__image"><img
                        src="https://www.coolmate.me/images/placeholder-image.png"
                        src="https://media.coolmate.me/image/February2023/mceclip26_46.png" alt="images"></div>
                  </div>
                  <div class="pod-grid__tagline"><span>Khẩu trang</span> Số lượng tối thiểu: 100 chiếc
                  </div>
                </div>
              </div>
            </div>
            <div data-collection-id="phu-kien" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="tat" class="pod-grid__image"><img
                        src="https://www.coolmate.me/images/placeholder-image.png"
                        src="https://media.coolmate.me/image/February2023/mceclip27_46.png" alt="images"></div>
                  </div>
                  <div class="pod-grid__tagline"><span>Tất</span> Số lượng tối thiểu: 200 đôi
                  </div>
                </div>
              </div>
            </div>
            <div data-collection-id="phu-kien" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="tui" class="pod-grid__image"><img
                        src="https://www.coolmate.me/images/placeholder-image.png"
                        src="https://media.coolmate.me/image/February2023/mceclip28_50.png" alt="images"></div>
                  </div>
                  <div class="pod-grid__tagline"><span>Túi tote</span> Số lượng tối thiểu: 2 chiếc
                  </div>
                </div>
              </div>
            </div>
            <div data-collection-id="phu-kien" class="grid__column three-twelfths mobile--one-half">
              <div rel-script="pod-product-grid" class="pod-grid">
                <div class="pod-grid__inner">
                  <div class="pod-grid__thumbnail">
                    <div rel-script="popup-grid__popup" data-product="khac" class="pod-grid__image"><img
                        src="https://www.coolmate.me/images/placeholder-image.png"
                        src="https://media.coolmate.me/image/February2023/mceclip29_2.png" alt="images"></div>
                  </div>
                  <div class="pod-grid__tagline"><span>Bình nước, móc chìa khóa, sổ</span> Số lượng tối thiểu: 200 chiếc
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="loadmore-product" style="display: none;"><a href="#" data-show="10" data-page="2"
              class="btn btn--outline loadmore chidern">Xem thêm</a></div>
        </div>
        <div class="loadmore-product" style="display: none;"><a href="#" data-show="10" data-page="2"
            class="btn btn--outline loadmore chidern">Xem thêm</a></div>
      </div>
    </div>
  </section>
</main>
<section id="pod-customer">
  <div class="container">
    <div class="pod-customer">
      <div class="pod-customer__wrapper">
        <h2 class="pod-customer__heading">
          KHÁCH HÀNG CỦA COOLXPRINT
        </h2>
        <div rel-script="pod-customer-slide" class="pod-customer__slide slick-initialized slick-slider"><button
            class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
          <div class="slick-list draggable" style="padding: 0px;">
            <div class="slick-track" style="opacity: 1; width: 9108px; transform: translate3d(-1771px, 0px, 0px);">
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip38_59.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip39_30.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip40_12.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://media.coolmate.me/image/February2023/mceclip41.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://media.coolmate.me/image/February2023/mceclip43.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://media.coolmate.me/image/February2023/mceclip44.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1"
                style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip31.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Ngoài việc tư vấn chất liệu vải và màu phù hợp, Coolmate còn hỗ trợ may riêng áo polo dành cho nữ
                      dù số lượng ít và sản phẩm không có sẵn . Rất tuyệt vời.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip36.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Áo của CoolxPrint mặc nhẹ, dễ cử động, nếu dùng để mặc hàng ngày mà hoạt động nhẹ thì okela lắm
                      nhé, chất liệu in căng, lên màu nét và chuẩn.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-active" data-slick-index="2" aria-hidden="false"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip37.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Mình đã thẩm áo rồi, đúng chất ngon - bổ - rẻ nhé. Cám ơn đội ngũ CoolxPrint đã hỗ trợ Ecomtek ở
                      nhà meeting với khách vẫn đảm bảo đẹp để nhận diện thương hiệu.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-current slick-active slick-center" data-slick-index="3"
                aria-hidden="false" tabindex="0" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip38.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Chất lượng vải mát, vải dày, mực in tốt, form áo sau 1 năm mặc vẫn giữ dáng tốt mặc dù nhân viên
                      mặc đi làm hàng ngày. Sắp tới sẽ đặt hàng tiếp cho công ty.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-active" data-slick-index="4" aria-hidden="false"
                tabindex="0" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip39.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Với số lượng 250 áo, Coolmate hỗ trợ trong vòng 1 tuần, chất lượng áo rất tốt, form áo vừa vặn với
                      mọi người, được các anh chị tại công ty hưởng ứng rất nhiều.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-active" data-slick-index="5" aria-hidden="false"
                tabindex="0" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip40.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Chất liệu cotton mềm mại thấm hút rất phù hợp cho các fans thích di chuyển và ăn uống. Thật sự rất
                      ưng ý với đơn hàng này. Chúng tôi sẵn sàng giới thiệu CXP tới nhiều đối tác hơn. </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide" data-slick-index="6" aria-hidden="true" tabindex="0"
                style="width: 253px;">
                <div class="pod-customer__content"><img src="https://media.coolmate.me/image/February2023/mceclip35.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide" data-slick-index="7" aria-hidden="true" tabindex="0"
                style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip36_94.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide" data-slick-index="8" aria-hidden="true" tabindex="-1"
                style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip37_4.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide" data-slick-index="9" aria-hidden="true" tabindex="-1"
                style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip38_59.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide" data-slick-index="10" aria-hidden="true" tabindex="-1"
                style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip39_30.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide" data-slick-index="11" aria-hidden="true" tabindex="-1"
                style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip40_12.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide" data-slick-index="12" aria-hidden="true" tabindex="-1"
                style="width: 253px;">
                <div class="pod-customer__content"><img src="https://media.coolmate.me/image/February2023/mceclip41.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide" data-slick-index="13" aria-hidden="true" tabindex="-1"
                style="width: 253px;">
                <div class="pod-customer__content"><img src="https://media.coolmate.me/image/February2023/mceclip43.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide" data-slick-index="14" aria-hidden="true" tabindex="-1"
                style="width: 253px;">
                <div class="pod-customer__content"><img src="https://media.coolmate.me/image/February2023/mceclip44.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="15" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip31.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Ngoài việc tư vấn chất liệu vải và màu phù hợp, Coolmate còn hỗ trợ may riêng áo polo dành cho nữ
                      dù số lượng ít và sản phẩm không có sẵn . Rất tuyệt vời.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="16" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip36.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Áo của CoolxPrint mặc nhẹ, dễ cử động, nếu dùng để mặc hàng ngày mà hoạt động nhẹ thì okela lắm
                      nhé, chất liệu in căng, lên màu nét và chuẩn.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="17" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip37.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Mình đã thẩm áo rồi, đúng chất ngon - bổ - rẻ nhé. Cám ơn đội ngũ CoolxPrint đã hỗ trợ Ecomtek ở
                      nhà meeting với khách vẫn đảm bảo đẹp để nhận diện thương hiệu.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="18" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip38.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Chất lượng vải mát, vải dày, mực in tốt, form áo sau 1 năm mặc vẫn giữ dáng tốt mặc dù nhân viên
                      mặc đi làm hàng ngày. Sắp tới sẽ đặt hàng tiếp cho công ty.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="19" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip39.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Với số lượng 250 áo, Coolmate hỗ trợ trong vòng 1 tuần, chất lượng áo rất tốt, form áo vừa vặn với
                      mọi người, được các anh chị tại công ty hưởng ứng rất nhiều.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="20" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://mcdn.coolmate.me/image/February2023/mceclip40.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;">
                      Chất liệu cotton mềm mại thấm hút rất phù hợp cho các fans thích di chuyển và ăn uống. Thật sự rất
                      ưng ý với đơn hàng này. Chúng tôi sẵn sàng giới thiệu CXP tới nhiều đối tác hơn. </p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="21" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://media.coolmate.me/image/February2023/mceclip35.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="22" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip36_94.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="23" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip37_4.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="24" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip38_59.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="25" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip39_30.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="26" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img
                    src="https://media.coolmate.me/image/February2023/mceclip40_12.png" alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="27" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://media.coolmate.me/image/February2023/mceclip41.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="28" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://media.coolmate.me/image/February2023/mceclip43.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
              <div class="pod-customer__item slick-slide slick-cloned" data-slick-index="29" aria-hidden="true"
                tabindex="-1" style="width: 253px;">
                <div class="pod-customer__content"><img src="https://media.coolmate.me/image/February2023/mceclip44.png"
                    alt="">
                  <h2 class="pod-customer__name" style="font-size: 18px;"></h2>
                  <div class="pod-customer__reviews">
                    <p class="pod-customer__description" style="display: none;"></p>
                  </div>
                </div>
              </div>
            </div>
          </div> <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>
        </div>
        <p class="pod-customer__description active-description mobile--hidden">
          Chất lượng vải mát, vải dày, mực in tốt, form áo sau 1 năm mặc vẫn giữ dáng tốt mặc dù nhân viên mặc đi làm
          hàng ngày. Sắp tới sẽ đặt hàng tiếp cho công ty.
        </p>
      </div> <a href="#mockup" class="btn btn-primary scroll-to-step">Gửi yêu cầu</a>
    </div>
  </div>
</section>
<section class="pod-masonry">
  <div class="container">
    <div class="marquee">
      <div class="masonry">
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip21_8.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip22_79.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip23_59.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip5_82.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip6_43.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip15_60.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip16_17.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip17_79.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip18_18.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip19_55.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip3_57.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip7_68.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip8_17.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip9_52.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip11_19.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip12_50.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip7_89.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip13_5.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip14_93.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip20_89.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip24_38.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip25_66.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip26_5.jpg" alt=""></div>
        <div class="item"><img src="https://mcdn.coolmate.me/image/February2023/mceclip27_38.jpg" alt=""></div>
      </div>
    </div>
  </div>
</section>
<section id="mockup">
  <div class="container">
    <div class="contact">
      <div class="contact__wrapper">
        <div class="contact__content">
          <h2 class="contact__content-title">Nếu bạn có bất kì thắc mắc gì về sản phẩm, đừng ngại liên lạc với chúng tôi
            nhé!</h2>
          <div class="contact__content-hotline">
            <div class="contact__content-info"><img src="https://www.coolmate.me/images/call-cxp.svg" alt="">
              <div>
                <p>Hotline</p> <a href="tel:1900272735">1900 272 735</a>
              </div>
            </div>
            <div class="contact__content-info"><img src="https://www.coolmate.me/images/sms-notification.svg" alt="">
              <div>
                <p>Email</p> <a href="mailto:pod@coolmate.me">pod@coolmate.me</a>
              </div>
            </div>
          </div> <a href="http://zalo.me/0963961853" target="_blank" class="contact__content-social"><img
              src="https://mcdn.coolmate.me/image/February2023/mceclip5_35.png" alt="zalo-pod">
            <div>
              Zalo chính thức của CoolxPrint
            </div>
          </a>
        </div>
        <div class="contact__form">
          <form action="https://www.coolmate.me/cxp" method="POST" class="xp-form"><input type="hidden" name="_token"
              value="2ulb4GDYMXSvFhcUb25rJ9fmkpqVs86rW7bB4O6e">
            <h2 class="title">Gửi yêu cầu cho CoolxPrint</h2>
            <div class="form-group"><label for="product">
                Sản phẩm và số lượng dự kiến bạn cần <span>*</span></label> <input type="text" id="product"
                name="product" required="required" placeholder="vd: 3 khẩu trang đen" class="form-control"></div>
            <div class="form-group"><label for="name">
                Họ và tên của bạn <span>*</span></label> <input type="text" id="name" name="name" required="required"
                placeholder="vd: Nguyễn Văn A" class="form-control"></div>
            <div class="form-group"><label for="phone">
                Số điện thoại của bạn <span>*</span></label> <input type="text" id="phone" name="phone"
                required="required" placeholder="Số điện thoại của bạn" class="form-control"></div>
            <div class="form-group"><label for="email">
                Email của bạn
              </label> <input type="text" id="email" name="email" placeholder="vd: email@example.com"
                class="form-control"></div>
            <div class="error" style="color: rgb(203, 15, 15);"></div>
            <div data-sitekey="6LeT0akcAAAAAOPdVnE1Ok-chl3PF8Qpxt6fIV7k" class="g-recaptcha">
              <div style="width: 304px; height: 78px;">
                <div><iframe title="reCAPTCHA"
                    src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeT0akcAAAAAOPdVnE1Ok-chl3PF8Qpxt6fIV7k&amp;co=aHR0cHM6Ly93d3cuY29vbG1hdGUubWU6NDQz&amp;hl=vi&amp;v=8G7OPK94bhCRbT0VqyEVpQNj&amp;size=normal&amp;cb=mjvoa91ryzlf"
                    width="304" height="78" role="presentation" name="a-o43akf58zhv0" frameborder="0" scrolling="no"
                    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                </div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response"
                  style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
              </div><iframe style="display: none;"></iframe>
            </div> <input type="hidden" id="gclid_field" name="gclid_field" value="">
            <div class="submit-wrapper"><button type="submit" class="submit-btn btn btn-primary">
                Gửi yêu cầu
              </button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pod-factory">
  <div class="pod-factory__banner">
    <picture style="width: 100%;">
      <source media="(max-width: 781px)" srcset="https://mcdn.coolmate.me/image/February2023/mceclip35.jpg"> <img
        src="https://mcdn.coolmate.me/image/February2023/mceclip4_99.jpg" alt="block banner" style="width: 100%;">
    </picture>
  </div>
  <div class="pod-factory__info">
    <h2>Nhà máy của chúng tôi</h2>
    <p>​Để có một chiếc áo đẹp thì điều đầu tiên cần có là một miếng vải đẹp. Chỉ có quản lý được từ gốc của quá trình
      sản xuất thì mới có thể làm ra được những sản phẩm chất lượng.</p> <a
      href="https://www.coolmate.me/page/san-pham-coolmate-duoc-san-xuat-nhu-the-nao"><button
        class="submit-btn btn btn-primary">
        Nhà máy Coolmate
      </button></a>
  </div>
</section>
<section class="pod-tech">
  <div class="container">
    <h2 class="pod-tech__heading">CÔNG NGHỆ MỚI TRONG SẢN XUẤT CỦA COOLXPRINT</h2>
    <div rel-script="techcxp-slide" class="pod-tech__wrapper slick-initialized slick-slider">
      <div class="slick-list draggable">
        <div class="slick-track" style="opacity: 1; width: 1263px; transform: translate3d(0px, 0px, 0px);">
          <div class="pod-tech__item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
            tabindex="0" style="width: 367px;"><a href="" rel-script="techcxp-popup" data-tab-active="#tab1"
              data-id="#popup1" tabindex="0"><img src="https://mcdn.coolmate.me/image/February2023/mceclip1_19.png"
                alt=""></a> <span>Công nghệ vải</span></div>
          <div class="pod-tech__item slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0"
            style="width: 367px;"><a href="" rel-script="techcxp-popup" data-tab-active="#tab2" data-id="#popup1"
              tabindex="0"><img src="https://mcdn.coolmate.me/image/February2023/mceclip2_61.png" alt=""></a> <span>Công
              nghệ may</span></div>
          <div class="pod-tech__item slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0"
            style="width: 367px;"><a href="" rel-script="techcxp-popup" data-tab-active="#tab3" data-id="#popup1"
              tabindex="0"><img src="https://mcdn.coolmate.me/image/February2023/mceclip3_37.png" alt=""></a> <span>Công
              nghệ in/thêu</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
