<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10"
        [globalFilterFields]="['productName','country.name','representative.name','status']" [rows]="10"
        [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts"
        selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Quản lý sản phẩm</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="productId">Mã <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="productName">Tên sản phẩm <p-sortIcon field="name"></p-sortIcon></th>
            <th>Hình ảnh</th>
            <th pSortableColumn="price">Giá <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="quantity">Số lượng <p-sortIcon field="quantity"></p-sortIcon>
            </th>
            <th pSortableColumn="rating">Đánh giá <p-sortIcon field="rating"></p-sortIcon></th>
            <th pSortableColumn="inventoryStatus">Trạng thái <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
              {{product.code || product.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Name</span>
              {{product.productName }}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
              <img src="{{product.images[0].imgUrl}}" [alt]="product.productName" width="80" class="shadow-4" />
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Price</span>
              {{product.price | FormatVndPipe}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Số lượng</span>
              {{product.quantity}}
            </td>
            <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
              <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
            </td>
            <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
              <span
                [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editProduct(product)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteProduct(product)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <p-dialog [(visible)]="productDialog" [style]="{width: '500px'}" header="Chi tiết sản phẩm" [modal]="true"
        class="p-fluid">
        <img [src]="link" [alt]="product.productName" width="150" class="mt-0 mx-auto mb-5 block shadow-2"
          *ngIf="!this.mode">

        <div class="field">
          <label for="name">Tên sản phẩm</label>
          <input type="text" [ngModel]="product.productName" formControlName="productName" pInputText id="name" required
            autofocus [ngClass]="{'ng-invalid ng-dirty' : !this.mode&& !product.productName}" />
          <small class="ng-dirty ng-invalid" *ngIf="!this.mode&& !product.productName">Name is required.</small>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label for="price">Giá</label>
            <p-inputNumber [ngModel]="product.price" formControlName="price" id="price" mode="currency" currency="VND"
              locale="en-US"></p-inputNumber>
          </div>
          <div class="field col">
            <label for="quantity">Số lượng</label>
            <p-inputNumber [ngModel]="product.quantity" formControlName="quantity" id="quantity"></p-inputNumber>
          </div>
        </div>
        <div class="field" *ngIf="this.mode">
          <label for="collection">Bộ sưu tập</label>
          <p-dropdown [options]="collections" formControlName="collectionId" optionLabel="collectionName"
            optionValue="collectionId"></p-dropdown>
        </div>
        <div class="field" *ngIf="this.mode">
          <label for="collection">Thể loại</label>
          <p-dropdown [options]="categories" formControlName="categoryId" optionLabel="categoryName"
            optionValue="categoryId"></p-dropdown>
        </div>

        <div class="field" *ngIf="this.mode">
          <label for="collection">Loại sản phẩm</label>
          <p-dropdown [options]="productTypes" formControlName="productTypeId" optionLabel="productTypeName"
            optionValue="productTypeId"></p-dropdown>
        </div>

        <div class="field">
          <label for="name">Sale</label>
          <input type="text" [ngModel]="product.sale" formControlName="sale" pInputText id="name" required autofocus
            [ngClass]="{'ng-invalid ng-dirty' : !this.mode && !product.sale}" />
          <small class="ng-dirty ng-invalid" *ngIf="!this.mode&&!product.sale">Sale is required.</small>
        </div>
        <p-fileUpload *ngIf="this.mode" name="myfile[]" [chooseLabel]="'Chọn'" [cancelLabel]="'Hủy'" [multiple]="true"
          [customUpload]="true" (uploadHandler)="myUploader($event)"></p-fileUpload>
        <ng-template pTemplate="footer">
          <button type="reset" pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
          <button pButton pRipple type="submit" label="Save" icon="pi pi-check" class="p-button-text"></button>
        </ng-template>
      </p-dialog>
    </form>
    <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Bạn có muốn xóa sản phẩm <b>{{product.productName}}</b>không ?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Bạn có muốn xóa các sản phẩm được chọn không?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
          (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>


<ng-container *ngIf="loading">
  <div class="loading-overlay">
    <p-progressSpinner class="ui-progress-spinner-mask"></p-progressSpinner>
  </div>
</ng-container>

<!-- <ng-template pTemplate="content">
  <img src="{{product.images[0].imgUrl}}" [alt]="product.images[0].imgUrl" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.images[0].imgUrl">

</ng-template> -->
