<div class="header-search__wrapper" (click)="blurInputSearch()" #link>
  <label class="header-search__field">
    <input type="text" name="search" placeholder="Tìm kiếm sản phẩm..." autocomplete="off" [(ngModel)]="searchText" #search
      class="header-search__control one-whole input__search">
        <!-- tim kiem -->
  <div class="spotlight-search" [ngClass]="{'is-active': searchText}">
    <div class="spotlight-search__wrapper" [ngClass]="{'is-active': searchText}">
      <a *ngFor="let product of listProducts | filter:searchText"
      [routerLink]="['/product-details', product.id]"
      class="product-search">
        <div class="product-search__thumbnail">
          <img
            src="{{product.images[0].imgUrl}}"
            alt="{{product.productName}}">
        </div>
        <div class="product-search__content">
          <h4 class="product-search__title">
            {{product.productName}}
          </h4>
          <div class="product-search__prices">
            <ins>{{product.price | FormatVndPipe}}</ins>
          </div>
        </div>
      </a>
    </div>
    <div class="text--center" *ngIf="!(listProducts | filter:searchText).length">
      <i>Không tìm thấy sản phẩm!</i>
    </div>
  </div>
  </label>
  <div class="header-search__filter"><button class="header-search__submit"><img
        src="https://www.coolmate.me/images/header/icon-search-new.svg" width="20" height="20" alt="Icon Search"></button>
  </div> <a href="#" class="header-search__close"></a>
</div>
