<div class="container">
  <!-- Nội dung trang bên trái -->
  <div class="content--left">
    <div class="inf--oder">
      <div class="oder__title">
        <div class="title">Thông tin vận chuyển</div>
        <div class="action">Bạn đã có tài khoản? <a href="#">Đăng nhập ngay</a></div>
      </div>
      <!-- Thông tin nhập vào -->
      <form [formGroup]="inforCustomer" (ngSubmit)="onSubmit()" >
        <div class="grid">
          <div class="grid__column width50">
            <input type="text" formControlName="name"
              [ngClass]="{'error':inforCustomer.get('name')?.errors?.['required'] && inforCustomer.get('name')?.touched}"
              name="" placeholder="Họ tên" class="form-control">
            <div class="alert alert-custom text-danger"
              *ngIf="inforCustomer.get('name')?.errors?.['required'] && inforCustomer.get('name')?.touched">Vui lòng nhập họ
              tên!</div>
          </div>

          <div class="grid__column width50">
            <input type="tel" name="phonenumber" formControlName="phonenumber"
              [ngClass]="{'error':inforCustomer.get('phonenumber')?.errors?.['required'] && inforCustomer.get('phonenumber')?.touched}"
              placeholder="Số điện thoại" class="form-control">
            <div class="alert alert-custom text-danger"
              *ngIf="inforCustomer.get('phonenumber')?.errors?.['required'] && inforCustomer.get('phonenumber')?.touched">
              Vui lòng nhập số điện thoại!</div>
          </div>
        </div>

        <div class="grid">
          <div class="grid__column"><input type="email"
              [ngClass]="{'error':inforCustomer.get('email')?.errors?.['required'] && inforCustomer.get('email')?.touched}"
              name="" placeholder="Email" class="form-control" formControlName="email">
            <div class="alert alert-custom text-danger"
              *ngIf="inforCustomer.get('email')?.errors?.['required'] && inforCustomer.get('email')?.touched">Vui lòng nhập
              email!</div>
          </div>
        </div>
        <div class="grid">
          <div class="grid__column"><input type="text"
              [ngClass]="{'error':inforCustomer.get('address')?.errors?.['required'] && inforCustomer.get('address')?.touched}"
              name="" placeholder="Địa chỉ (ví dụ: xóm 13, Trực Thái)" class="form-control" formControlName="address">
            <div class="alert alert-custom text-danger"
              *ngIf="inforCustomer.get('address')?.errors?.['required'] && inforCustomer.get('address')?.touched">Vui lòng
              nhập địa chỉ!</div>
          </div>
        </div>
        <div class="grid">

          <div class="grid__column width33">
            <select class="form-select" id="city" formControlName="selectedProvince">
              <option value="" selected>Chọn tỉnh thành</option>
              <option value="{{item}}" *ngFor="let item of provinces">{{item}}</option>
            </select>
          </div>

          <div class="grid__column width33">
            <select class="form-select" id="district" formControlName="selectedDistrict">
              <option value="" selected>Chọn quận huyện</option>
              <option value="{{item}}" *ngFor="let item of districts" >{{item}}</option>
            </select>
          </div>

          <div class="grid__column width33">
            <select class="form-select " id="ward" formControlName="selectedWard">
              <option value="" selected>Chọn phường xã</option>
              <option value="{{item}}" *ngFor="let item of wards" >{{item}}</option>
            </select>
          </div>

        </div>
        <div class="grid">
          <div class="grid__column"><input type="text" name="" placeholder="Ghi chú (ví dụ: Giao hàng giờ hành chính)"
              class="form-control" formControlName="note">
          </div>
        </div>
        <button class="btn btn-success" type="submit">Thanh toán</button>
      </form>
    </div>
    <div class="cart-section">
      <div class="title">
        Hình thức thanh toán
      </div>
      <div>
        <form><label for="payment-COD" class="payment-method__item active"><span
              class="payment-method__item-custom-checkbox custom-radio"><input type="radio" id="payment-COD"
                name="payment-method" autocomplete="off" value="COD"> <span class="checkmark"></span></span> <span
              class="payment-method__item-icon-wrapper"><img src="https://www.coolmate.me/images/COD.svg"
                alt="COD <br>Thanh toán khi nhận hàng"></span> <span class="payment-method__item-name">COD <br>Thanh
              toán khi nhận hàng</span></label><label for="payment-momo" class="payment-method__item"><span
              class="payment-method__item-custom-checkbox custom-radio"><input type="radio" id="payment-momo"
                name="payment-method" autocomplete="off" value="momo"> <span class="checkmark"></span></span> <span
              class="payment-method__item-icon-wrapper"><img src="https://www.coolmate.me/images/momo-icon.png"
                alt="Thanh Toán MoMo"></span> <span class="payment-method__item-name">Thanh Toán
              MoMo</span></label><label for="payment-zalopay" class="payment-method__item"><span
              class="payment-method__item-custom-checkbox custom-radio"><input type="radio" id="payment-zalopay"
                name="payment-method" autocomplete="off" value="zalopay"> <span class="checkmark"></span></span> <span
              class="payment-method__item-icon-wrapper"><img src="https://www.coolmate.me/images/logo-zalopay.svg"
                alt="Ví điện tử ZaloPay"></span>
            <span class="payment-method__item-name">Ví điện tử ZaloPay</span></label><label for="payment-shopeepay"
            class="payment-method__item"><span class="payment-method__item-custom-checkbox custom-radio"><input
                type="radio" id="payment-shopeepay" name="payment-method" autocomplete="off" value="shopeepay"> <span
                class="checkmark"></span></span> <span class="payment-method__item-icon-wrapper"><img
                src="https://mcdn.coolmate.me/image/September2021/195dbf69c0ac36f26fbd_(1).png"
                alt="Ví ShopeePay <br><i>Giảm thêm 50k cho khách hàng lần đầu mở ví và thanh toán bằng ShopeePay</i>"></span>
            <span class="payment-method__item-name">Ví ShopeePay <br><i>Giảm thêm 50k cho khách hàng lần
                đầu mở ví và thanh toán bằng ShopeePay</i></span></label><label for="payment-vnpay"
            class="payment-method__item"><span class="payment-method__item-custom-checkbox custom-radio"><input
                type="radio" id="payment-vnpay" name="payment-method" autocomplete="off" value="vnpay"> <span
                class="checkmark"></span></span> <span class="payment-method__item-icon-wrapper"><img
                src="https://www.coolmate.me/images/vnpay.png"
                alt="Thẻ ATM / Internet Banking<br>Thẻ tín dụng (Credit card) / Thẻ ghi nợ (Debit card)<br>VNPay QR"></span>
            <span class="payment-method__item-name">Thẻ ATM / Internet Banking<br>Thẻ tín dụng (Credit
              card) / Thẻ ghi nợ (Debit card)<br>VNPay QR</span></label><label for="payment-9pay"
            class="payment-method__item"><span class="payment-method__item-custom-checkbox custom-radio"><input
                type="radio" id="payment-9pay" name="payment-method" autocomplete="off" value="9pay"> <span
                class="checkmark"></span></span> <span class="payment-method__item-icon-wrapper"><img
                src="https://mcdn.coolmate.me/uploads/May2022/9pay.svg" alt="Ví điện tử 9Pay"></span>
            <span class="payment-method__item-name">Ví điện tử 9Pay</span></label></form> <!---->
      </div>
      <p class="cart-return-text">
        Nếu bạn không hài lòng với sản phẩm của chúng tôi? Bạn hoàn toàn có thể trả lại sản phẩm.
        Tìm hiểu thêm <a href="/page/chinh-sach-doi-tra" target="_blank"><b>tại đây</b></a>.
      </p>
    </div>
  </div>
  <!-- End nội dung trang bên phải -->
  <div class="content--right">
    <div class="inf--oder">
      <div class="oder__title title">Giỏ hàng</div>
      <div class="cart--items" *ngIf="dataSource && dataSource.length > 0">
        <div class="cart--item" *ngFor="let item of dataSource.at(0).cartDetails;let i = index">
          <span class="cart--item__remove" (click)="deleteCD(item.cartDetailId)">✕</span>
          <div class="cart--item__img">
            <img src="{{item.product.images[0].imgUrl}}" alt="Áo thun Marvel Oversize Black Panther - Outline">
            <span class="cart--item__count">{{item.quantity}}</span>
          </div>
          <div class="cart--item__details">
            <div class="cart--item__info">
              <div class="cart--item__name">{{item.productName}}</div>
              <div class="cart--item__option">{{item.color}} / {{item.size}}</div>
            </div>
            <div class="cart--item__action">
              <label class="choose--size__item ">
                <input type="radio" name="size" value="m">
                <span class="checkmark">{{item.color}}</span>
              </label>
              <label class="option">v</label>
              <label class="choose--size__item size">
                <input type="radio" name="" value="m">
                <span class="checkmark">{{item.size}}</span>
              </label>
              <label class="option optsize">v</label>
              <div class="action--bottom">
                <div class="action--count">
                  <a style="cursor: pointer;" class="quantity__reduce" (click)="countSub(item.cartDetailId,item.quantity)">-</a>
                  <input type="number" max="99" min="1"  value="{{item.quantity}}" class="quantity__control"
                    [(ngModel)]="item.quantity">
                  <a style="cursor: pointer;" class="quantity__augure" (click)="countAdd(item.cartDetailId,item.quantity)">+</a>
                </div>
                <div class="action--price">{{item.product.price * item.quantity| FormatVndPipe}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Thông tin giảm giá -->
      <div class="discount">
        <app-textfield [contentPlacehoder]="'Nhập mã giảm giá'" style="z-index: 1;width:70%">
        </app-textfield>
        <button class="btn--apply">Áp dụng</button>
      </div>
      <!-- Thanh toán -->
      <div class="divider"></div>
      <div class="pricing-info">
        <div class="pricing-info__item">
          <p>Tạm tính</p>
          <p>{{this.totalCoin | FormatVndPipe}} </p>
        </div>
        <div class="pricing-info__item">
          <p>Giảm giá</p>
          <p>0đ</p>
        </div>
        <div class="pricing-info__item">
          <p>Phí giao hàng</p>
          <p>Miễn phí</p>
        </div>
        <div class="divider"></div>
        <div class="pricing-info__item">
          <p>Tổng</p>
          <p style="font-size: 18px;">{{this.totalCoin | FormatVndPipe}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
