<main class="site-collections">
  <div class="collections-filter" style="padding-bottom: 0px; border-bottom: 0px;">
    <div class="container container--full">
      <div class="site-collections-filter"><a href="javascript:;" data-param="att[chat-lieu]"
          data-param-value="vai-cafe" data-title="Vải Café" rel-script="filter-item"
          class="site-collections-filter__items "><span class="site-collections-filter__content"><span
              class="site-collections-filter__thumbnail"><img
                src="https://media.coolmate.me/cdn-cgi/image/width=270,height=306,quality=80,format=auto/uploads/January2023/cafeGroup_47.jpg"
                alt="Vải Café"></span> <span class="site-collections-filter__title">Vải Café</span> <span
              class="site-collections-filter__desc">Mang tính năng vượt trội từ cafe: mềm mại và khử mùi hiệu
              quả</span></span></a> <a href="javascript:;" data-param="att[chat-lieu]" data-param-value="vai-excool"
          data-title="Vải Excool" rel-script="filter-item" class="site-collections-filter__items "><span
            class="site-collections-filter__content"><span class="site-collections-filter__thumbnail"><img
                src="https://media.coolmate.me/cdn-cgi/image/width=270,height=306,quality=80,format=auto/uploads/January2023/excoolGroup_46.jpg"
                alt="Vải Excool"></span> <span class="site-collections-filter__title">Vải Excool</span> <span
              class="site-collections-filter__desc">Excool với 8 tính năng ưu việt: mát mẻ, nhanh khô, co giãn, chống
              UV,...</span></span></a></div>
    </div>
  </div>
  <div class="collections-filter">
    <div class="container container--full">
      <div class="collections-filter__wrapper">
        <div class="collections-filter__inner">
          <h1 class="collections-filter__heading">
            Sản phẩm
          </h1>
        </div>
        <div class="collections-filter__selects mobile--hidden">
          <div class="filter-select">
            <div class="filter-select__item">
              <div class="custom-select"><select name="loai-san-pham" class="attribute-filter-selector">
                  <option value="">Loại sản phẩm</option>
                  <option value="Polo" data-title="">
                    Áo Polo</option>
                </select>
                <div class="select-selected">Loại sản phẩm</div>
                <div class="select-items select-hide">
                  <div data-value="Polo"><span>
                      Áo Polo</span></div>
                </div>
              </div>
            </div>
            <div class="filter-select__item">
              <div class="custom-select"><select name="tinh-nang" class="attribute-filter-selector">
                  <option value="">Tính năng</option>
                  <option value="chong-nhan" data-title="">
                    Chống nhăn</option>
                  <option value="chong-tia-uv" data-title="">
                    Chống tia UV</option>
                  <option value="co-gian-tot" data-title="">
                    Co giãn tốt</option>
                  <option value="khang-khuan-khu-mui" data-title="">
                    Kháng khuẩn, khử mùi</option>
                  <option value="mem-mai" data-title="">
                    Mềm mại</option>
                  <option value="nhanh-kho-thoang-khi" data-title="">
                    Nhanh khô, thoáng khí</option>
                  <option value="tham-hut-tot" data-title="">
                    Thấm hút tốt</option>
                </select>
                <div class="select-selected">Tính năng</div>
                <div class="select-items select-hide">
                  <div data-value="chong-nhan"><span>
                      Chống nhăn</span></div>
                  <div data-value="chong-tia-uv"><span>
                      Chống tia UV</span></div>
                  <div data-value="co-gian-tot"><span>
                      Co giãn tốt</span></div>
                  <div data-value="khang-khuan-khu-mui"><span>
                      Kháng khuẩn, khử mùi</span></div>
                  <div data-value="mem-mai"><span>
                      Mềm mại</span></div>
                  <div data-value="nhanh-kho-thoang-khi"><span>
                      Nhanh khô, thoáng khí</span></div>
                  <div data-value="tham-hut-tot"><span>
                      Thấm hút tốt</span></div>
                </div>
              </div>
            </div>
            <div class="filter-select__item">
              <div class="custom-select"><select name="sort">
                  <option value="">Sắp xếp</option>
                  <option value="new" selected="selected">Mới nhất</option>
                  <option value="bestseller">Bán chạy</option>
                  <option value="price-asc">Giá thấp đến cao</option>
                  <option value="price-desc">Giá cao đến thấp</option>
                  <option value="percent">% giảm giá nhiều</option>
                </select>
                <div class="select-selected">Mới nhất</div>
                <div class="select-items select-hide">
                  <div data-value="new"><span>Mới nhất</span></div>
                  <div data-value="bestseller"><span>Bán chạy</span></div>
                  <div data-value="price-asc"><span>Giá thấp đến cao</span></div>
                  <div data-value="price-desc"><span>Giá cao đến thấp</span></div>
                  <div data-value="percent"><span>% giảm giá nhiều</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-tags" style="display: none;">
    <div class="container container--full">
      <div class="filter-tags__wrapper"><span class="filter-tags__label">
          Xem theo:
        </span>
        <div style="margin-left: 10px;"><a href="https://www.coolmate.me/collection/ao-polo-nam?sort=new"
            id="removeAllFilter" style="text-decoration: underline;">Xoá lọc</a></div>
      </div>
    </div>
  </div>
  <section class="collections-listings">
    <div class="container container--full">
      <div data-collection-title="Áo Polo Làm Từ Sợi Cafe"
        class="grid grid--five-columns large-grid--four-columns tablet-grid--three-columns mobile-grid--two-columns product-list">
        <app-product [isCollectionImg]="true"
          [srcCollectionImg]="'https://media.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/June2022/ao-so-mi.jpg'"
          class="grid__column" style="position:relative;"></app-product>
        <app-product *ngFor="let product of products" [product]="product" class="grid__column"
          style="position:relative;"></app-product>
      </div>
    </div>
  </section>
  <section>
    <div class="container container--medium">
      <div class="collection-body">
        <p><a href="https://www.coolmate.me/collection/ao-so-mi-nam">Áo sơ mi</a> là một trong những chiếc<a
            href="https://www.coolmate.me/collection/ao-nam"> áo nam</a> đã quá quen thuộc đối với cánh mày râu. Lựa
          chọn những chiếc <strong>áo sơ mi đẹp hàng hiệu cao cấp</strong> sẽ giúp phái mạnh trở nên nam tính, đẳng cấp
          và thời thượng hơn bao giờ hết.</p>
        <p dir="ltr">Ngoài những chiếc <strong>áo sơ mi công sở</strong> trang trọng, ta cũng có thêm những sự lựa chọn
          khác như áo sơ mi form rộng, áo khoác sơ mi, … để tạo nên những bộ outfit phối layer siêu đẹp và cuốn hút cho
          nam giới.</p>
        <p dir="ltr"><em>=&gt;&gt; Xem thêm:<a href="https://www.coolmate.me/post/ao-so-mi-dress-shirt"> Cơ bản về áo sơ
              mi</a></em></p>
        <h2 dir="ltr">Kiểu dáng áo sơ mi nam phổ biến hiện nay&nbsp;</h2>
        <ul>
          <li dir="ltr"><strong>Áo sơ mi regular - fit</strong>: là kiểu dáng phù hợp với mọi vóc dáng, mọi lứa tuổi.
            Dáng áo suông sẽ giúp che bớt các khuyết điểm trên cơ thể, đồng thời tạo nên sự thoải mái trong mọi hoạt
            động hằng ngày.</li>
          <li dir="ltr"><strong>Áo sơ mi slim - fit</strong>: có đặc điểm là ôm bó cơ thể, giúp tôn dáng cơ thể.
            <strong>Áo sơ mi body</strong> này sẽ giúp những anh chàng sở hữu thân hình đẹp cân đối khoe khéo phần cơ
            thể cuốn hút của mình.</li>
          <li dir="ltr"><strong>Áo sơ mi oversize form rộng</strong>: là kiểu dáng cải tiến từ những chiếc áo sơ mi
            formal, vốn chỉ thích hợp cho môi trường trang trọng. Mẫu thiết kế <strong>oversize form rộng</strong> này
            trẻ trung hơn, năng động hơn cùng khả năng phối đồ và ứng dụng trong mọi hoạt động trong cuộc sống</li>
          <li dir="ltr"><strong>Áo sơ mi big size</strong>: là kiểu dáng đặc biệt dành cho người béo mập. Kiểu dáng
            suông từ trên xuống giúp che toàn bộ khuyết điểm cơ thể, khiến chàng thêm tự tin hơn.</li>
        </ul>
      </div>
      <a href="#" rel-script="collection-body-view-more" class="collection-body-view-more">Xem thêm</a>
    </div>
  </section>
</main>
