<div class="grid__column eight-twelfths mobile--one-whole">
  <div>
    <div class="title">
      Đơn hàng của bạn<span>: 1 đơn hàng</span></div>
    <div class="orders-body">
      <div class="orders-wrapper"><a
          href="https://www.coolmate.me/get-order/MjgzODQ3NDk1fDY4ODk3MjYxMjYzNTIyN0BmYWNlYm9vay5jb20=?review_token=RLi5fO25tgveryEzv2IgSnkKgOjzlXtHn3ViJIb0dYG6QJeA"
          class="order">
          <div class="order-header">
            <div>
              <p class="order-title">
                #283847495
              </p>
              <p class="order-date">
                26.01.2023
              </p>
            </div>
            <div class="order-status-badge order-status-badge-confirmed"><span>Đã
                xác nhận</span> <!----> <!----></div>
          </div>
          <div class="order-body">
            <div>
              <div class="order-item">
                <div class="order-item-thumbnail"><a
                    href="/product/ao-thun-nam-dai-tay-cotton-compact-v2" target="_blank"><img
                      src="https://media.coolmate.me/cdn-cgi/image/quality=80/image/September2022/ao-dai-tay-compact-v2-navy2.jpg"
                      alt="Áo thun nam dài tay Cotton Compact V2"></a></div>
                <div class="order-item-info"><a
                    href="/product/ao-thun-nam-dai-tay-cotton-compact-v2" target="_blank" class="order-item-title">
                    Áo thun nam dài tay Cotton Compact V2
                  </a>
                  <div class="order-item-quantity">
                    x 2
                  </div>
                  <div class="order-item-variant-label">
                    Xanh Navy / XL
                  </div>
                  <div class="order-item-price">
                    159.000đ
                  </div>
                </div>
                <div class="order-item-button"><button class="btn btn-sm"><span
                    >
                      Đánh giá sản phẩm
                    </span></button></div>
              </div>
              <div class="order-item">
                <div class="order-item-thumbnail"><a
                    href="/product/ao-thun-nam-dai-tay-cotton-compact-v2" target="_blank"><img
                      src="https://media.coolmate.me/cdn-cgi/image/quality=80/image/September2022/ao-dai-tay-compact-v2-den2.jpg"
                      alt="Áo thun nam dài tay Cotton Compact V2"></a></div>
                <div class="order-item-info"><a
                    href="/product/ao-thun-nam-dai-tay-cotton-compact-v2" target="_blank" class="order-item-title">
                    Áo thun nam dài tay Cotton Compact V2
                  </a>
                  <div class="order-item-quantity">
                    x 2
                  </div>
                  <div class="order-item-variant-label">
                    Đen / XL
                  </div>
                  <div class="order-item-price">
                    159.000đ
                  </div>
                </div>
                <div class="order-item-button"><button class="btn btn-sm"><span
                    >
                      Đánh giá sản phẩm
                    </span></button></div>
              </div>
              <div class="order-item">
                <div class="order-item-thumbnail"><a
                    href="/product/quan-ni-nam-jogger-casual-co-gian" target="_blank"><img
                      src="https://media.coolmate.me/cdn-cgi/image/quality=80/image/September2022/jogger-casual-xam-nhat2_60.jpg"
                      alt="Quần nỉ nam Jogger Casual co giãn "></a></div>
                <div class="order-item-info"><a
                    href="/product/quan-ni-nam-jogger-casual-co-gian" target="_blank" class="order-item-title">
                    Quần nỉ nam Jogger Casual co giãn
                  </a>
                  <div class="order-item-quantity">
                    x 1
                  </div>
                  <div class="order-item-variant-label">
                    Xám nhạt / L
                  </div>
                  <div class="order-item-price">
                    189.000đ
                  </div>
                </div>
                <div class="order-item-button"><button class="btn btn-sm"><span
                    >
                      Đánh giá sản phẩm
                    </span></button></div>
              </div>
            </div>
          </div>
          <div class="order-footer">
            <div>
              Tổng đơn hàng: <b>657.000đ</b></div>
          </div>
        </a></div> <!---->
    </div> <!---->
  </div>
</div>
