.order-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #2f5acf;
  border-radius: 16px;
  padding: 10px 30px;
  position: relative;
  z-index: 2;
}
.order-header .order-title {
  font-weight: bold;
  font-size: 1.1rem;
}
.order-header .order-date {
  font-size: .8rem;
}
.order-header .order-title, .order-header .order-date {
  margin: 0;
}
.order-header .order-status-badge-confirmed {
  color: #2f5acf;
}
.order-header .order-status-badge-confirmed {
  color: #2f5acf;
}
.order-header .order-status-badge {
  display: block;
  padding: 0 10px;
  height: 17px;
  background-color: white;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 500;
}
.title {
  font-size: 30px;
  font-weight: 700;
  margin: 2rem 0 1rem;
}
.order-body {
    border: 1px solid #d9d9d9;
    background-color: white;
    margin-top: -16px;
    border-radius: 0 0 16px 16px;
    position: relative;
    z-index: 1;
    padding-top: 16px;
}
.order-item:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.order-item{
  padding: 1rem 30px;
  display: flex;
  width: 100%;
  position: relative;
}
.order-item-thumbnail{
  position: relative;
  width: 100px;
  margin-right: 1rem;
}
.order-item-thumbnail::before {
  content: '';
  display: block;
  padding-top: 111.76470588%;
  height: 0;
  width: 100%;
}
.order-item-info{
  flex: 1;
}
.order-item-title{
  font-weight: 600;
}
.order-item-variant-label{
  color: #2f5acf;
}
.order-item-price{
  font-weight: 600;
}
.btn.btn-sm {
  height: 31px;
  font-size: 12px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 16px;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  padding: 0 30px;
  transition: all .2s;
  cursor: pointer;
}
.btn.btn-sm {
  height: 31px;
  font-size: 12px;
}
.order-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  padding: calc(0.5rem + 16px) 30px 0.5rem;
  margin-top: -16px;
  border-radius: 0 0 16px 16px;
  position: relative;
  z-index: 0;
  margin-bottom: 27px;
}
.order-item-thumbnail img{
    border-radius: 8px;
}
.order-item-thumbnail img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
img:not(.home-banner) {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
img {
    text-indent: -9999px;
    color: transparent;
}
img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.order:last-child .order-footer {
  margin-bottom: 0px;
}
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11
}

.popup .backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7)
}

.popup .popup-body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  max-width: 600px;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 16px;
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch
}

.popup .popup-body::-webkit-scrollbar {
  height: 5px
}

.popup .popup-body::-webkit-scrollbar-track {
  background: #fff
}

.popup .popup-body::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px
}

.popup .popup-body:hover::-webkit-scrollbar-thumb {
  background: #a9a9a9
}

.popup .popup-body:hover::-webkit-scrollbar-track {
  background: #d9d9d9
}

.popup .popup-body::-webkit-scrollbar-thumb:hover {
  background: #555
}

.popup .popup-body .close-popup {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px
}

.popup .popup-body .close-popup:active,.popup .popup-body .close-popup:hover {
  transform: scale(1.1)
}

.popup .popup-body.popup-lg {
  width: 70vw;
  max-width: 1080px;
  min-height: 70vh
}

.popup .popup-body.popup-xl {
  width: 90vw;
  max-width: 1920px;
  min-height: 90vh
}

@media(max-width: 991px) {
  .popup .popup-body.popup-xl {
      padding-top:40px
  }
}

@media(min-width: 991px) {
  .on-mobile .popup .popup-body.popup-xl {
      padding-top:40px
  }
}

@media(max-width: 991px) {
  .popup .popup-body.popup-lg,.popup .popup-body.popup-xl {
      width:100%
  }
}

@media(min-width: 991px) {
  .on-mobile .popup .popup-body.popup-lg,.on-mobile .popup .popup-body.popup-xl {
      width:100%
  }
}

.popup .popup-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around
}

@media(max-width: 991px) {
  .popup {
      z-index:1001
  }

  .popup .popup-body {
      width: 100%;
      padding: 1rem 1.5rem 2rem;
      top: auto;
      left: 0;
      bottom: 0;
      border: 1px solid #d9d9d9;
      transform: none
  }
}

@media(min-width: 991px) {
  .on-mobile .popup {
      z-index:1001
  }

  .on-mobile .popup .popup-body {
      width: 100%;
      padding: 1rem 1.5rem 2rem;
      top: auto;
      left: 0;
      bottom: 0;
      border: 1px solid #d9d9d9;
      transform: none
  }
}

.popup--slide .popup-body {
  height: 100%;
  max-width: 250px;
  left: auto;
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.popup-enter .backdrop,.popup-leave-to .backdrop {
  opacity: 0
}

.popup-enter .popup-body,.popup-leave-to .popup-body {
  transform: translate(-50%,100vh)!important
}

@media(max-width: 991px) {
  .popup-enter .popup-body,.popup-leave-to .popup-body {
      transform:translateY(100vh)!important
  }
}

@media(min-width: 991px) {
  .on-mobile .popup-enter .popup-body,.popup-leave-to .popup-body {
      transform:translateY(100vh)!important
  }
}

.popup-enter.popup--slide .popup-body,.popup-leave-to.popup--slide .popup-body {
  transform: translateX(100vw)!important
}

.popup-enter-active,.popup-enter-active .backdrop,.popup-enter-active .popup-body,.popup-leave-active,.popup-leave-active .backdrop,.popup-leave-active .popup-body {
  transition: all .3s ease
}

.popup-leave-to {
  pointer-events: none!important
}
.review-wrapper .review__heading {
  text-align: center;
}

.title {
  margin-top: 0;
}
.error {
  color: red;
}
.review-wrapper .review__heading {
  text-align: center;
}
.review-wrapper .review__stars-wrapper {
  display: flex;
  align-items: center;
}
.review-wrapper .review__title {
  font-weight: bold;
}
.review-wrapper .review__title ~ .form-control {
  margin-top: 5px;
}
.review-wrapper .review__stars {
  margin-left: 2rem;
}
.review-wrapper .review__star {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 3px;
  background-image: url("/images/star-none.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.review-wrapper .review__star.full-star, .review-wrapper .review__star.hover, .review-wrapper .review__star.selected {
  background-image: url("/images/star.svg");
}
.review-wrapper .review__star.half-star {
  background-image: url("/images/star-half.svg");
}
.review-wrapper .review__star:not(:nth-child(2n)) {
  width: 15px;
  height: 30px;
  background-size: cover;
  background-position: left;
  position: relative;
  z-index: 2;
}
.review-wrapper .review__star:nth-child(2n) {
  z-index: 1;
  margin-left: -18px;
}
.review-wrapper .review__submit-btn {
  background-color: black;
  color: white;
  border-radius: 16px;
  transition: .2s all;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.review-wrapper .review__submit-btn:disabled, .review-wrapper .review__submit-btn:hover {
  background-color: #d9d9d9;
}
.review-wrapper .review__submit-btn:hover {
  color: black;
}
.review-discount {
  text-align: center;
  font-size: 1.2rem;
}
.review-discount b {
  color: #2f5acf;
}
.review-discount small {
  font-size: .8rem;
}
.form-group:not(:last-child) {
  margin-bottom: 1rem;
}
.mgt--10 {
  margin-top: 10px;
}
