<div class="site-content">
  <div class="container" style="max-width: 768px;">
    <div class="thank-box text--center">
      <h1 id="momo-status-name" class="text--upper">Đặt Hàng Thành Công!</h1>
      <p>
        Trên thị trường có quá nhiều sự lựa chọn, cảm ơn bạn đã lựa chọn mua sắm tại <a href="/"
          target="_blank"><b>Coolmate.me</b></a></p>
      <p>
        Đơn hàng của bạn CHẮC CHẮN đã được chuyển tới hệ thống xử lý đơn hàng của Coolmate.
        <br>
        Trong quá trình xử lý Coolmate sẽ liên hệ lại nếu như cần thêm thông tin từ bạn.
        <br>
        Ngoài ra Coolmate cũng sẽ có gửi xác nhận đơn hàng bằng Email và tin nhắn
      </p>
      <p>
        Tham gia cộng đồng <a href="https://www.facebook.com/groups/2103080403316797" target="_blank"><b>Mặc Đẹp Sống
            Chất</b></a> cùng Coolmate.
      </p> <a href="/collections" class="btn btn-primary">
        Khám phá thêm các sản phẩm khác tại đây
      </a>
      <p class="order-heading">
        Thông tin đơn hàng
      </p>
      <div class="box" *ngIf="mydata">
        <div class="grid">
          <div class="grid__column three-twelfths mobile--one-whole"></div>
          <div class="grid__column six-twelfths mobile--one-whole">
            <div class="order-title">
              ĐƠN HÀNG #{{mydata[0].orderID}}
            </div>
          </div>
          <div class="grid__column three-twelfths mobile--one-whole">
            <div class="order-date">
              {{mydata[0].orderDate}}
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Tên sản phẩm</th>
              <th>Số lượng</th>
              <th width="120px">Giá niêm yết</th>
              <th>Biến thể</th>
              <th class="text--right">Thành tiền</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of mydata" >
              <td class="text--left">
               {{data.productName}}
              </td>
              <td>{{data.quantity}}</td>
              <td>
                {{data.price | FormatVndPipe}}
                <!-- <del style="font-size: 12px;">
                  299.000đ
                </del> -->
              </td>
              <td>
                {{data.color }} / {{ data.size}}
              </td>
              <td>{{data.price * data.quantity | FormatVndPipe}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                Mã giảm giá
              </td>
              <td></td>
            </tr>
            <tr>
              <td colspan="4">
                Tổng giá trị sản phẩm
              </td>
              <td>
                {{mydata[0].totalPrice | FormatVndPipe}}
              </td>
            </tr>
            <tr>
              <td colspan="4">
                Tổng khuyến mãi
              </td>
              <td>
                0đ
              </td>
            </tr>
            <tr>
              <td colspan="4">Phí giao hàng</td>
              <td>0đ</td>
            </tr>
            <tr class="total_payment">
              <td colspan="4">
                Tổng thanh toán
              </td>
              <td>
                {{mydata[0].totalPrice | FormatVndPipe}}
              </td>
            </tr>
          </tfoot>
        </table>
        <div class="order-note">*Ghi chú: <i>từ cống hàng Khanh đi thẳng xuống lối sang trực cường(nhà gần cuối dong
            cụt)</i></div>
      </div>
      <p class="order-heading">
        Thông tin nhận hàng
      </p>
      <div class="box text--left" *ngIf="currentUser">
        <p>
          Tên người nhận: {{currentUser.UserName}}
        </p>
        <p>
          Email: {{currentUser.Email}}
        </p>
        <p>
          Số điện thoại: {{currentUser.PhoneNumber}}
        </p>
        <p>
          Hình thức thanh toán: Thanh toán khi nhận hàng (COD)
        </p>
        <p>
          Địa chỉ nhận hàng: {{currentUser.Address}}
        </p>
      </div>
      <div class="ending-text">
        Hãy bảo vệ sức khoẻ của bạn và cộng đồng!
      </div>
    </div>
  </div>
</div>
