<main class="site-collections">
  <div class="collections-filter" style="padding-bottom: 0px; border-bottom: 0px;">
    <div class="container container--full">
      <div class="site-collections-filter"><a href="javascript:;" data-param="att[phu-hop-voi]"
          data-param-value="choi-the-thao" data-title="Chơi thể thao" rel-script="filter-item"
          class="site-collections-filter__items "><span class="site-collections-filter__content"><span
              class="site-collections-filter__thumbnail"><img
                src="https://media.coolmate.me/cdn-cgi/image/width=270,height=306,quality=80,format=auto/uploads/January2023/sportMask_group2.jpg"
                alt="Chơi thể thao"></span> <span class="site-collections-filter__title">Chơi thể thao</span> <span
              class="site-collections-filter__desc">Áo polo chuyên dụng cho các hoạt động thể thao: chạy bộ,
              gym,....</span></span></a> <a href="javascript:;" data-param="att[phu-hop-voi]"
          data-param-value="mac-hang-ngay" data-title="Mặc hàng ngày" rel-script="filter-item"
          class="site-collections-filter__items "><span class="site-collections-filter__content"><span
              class="site-collections-filter__thumbnail"><img
                src="https://media.coolmate.me/cdn-cgi/image/width=270,height=306,quality=80,format=auto/uploads/January2023/IMG_4259_(1)_1.jpg"
                alt="Mặc hàng ngày"></span> <span class="site-collections-filter__title">Mặc hàng ngày</span> <span
              class="site-collections-filter__desc">Áo polo cổ tròn phù hợp với các hoạt động hàng
              ngày</span></span></a></div>
      <div class="site-collections-filter-button pdt--10 pdb--10">
        <div class="site-collections-filter-button__heading">Chọn áo theo chất liệu</div>
        <div class="site-collections-filter-button__list"><a href="javascript:;" data-param="att[chat-lieu]"
            data-param-value="vai-cafe" data-title="Vải Café" rel-script="filter-item"
            class="site-collections-filter-button__items "><span class="site-collections-filter-button__item"><span
                class="site-collections-filter-button__title">Vải Café</span> <span
                class="site-collections-filter-button__description">Khử mùi, Chống tia UV</span></span></a> <a
            href="javascript:;" data-param="att[chat-lieu]" data-param-value="vai-cotton" data-title="Vải Cotton"
            rel-script="filter-item" class="site-collections-filter-button__items "><span
              class="site-collections-filter-button__item"><span class="site-collections-filter-button__title">Vải
                Cotton</span> <span class="site-collections-filter-button__description">Mềm mại, Co
                giãn</span></span></a> <a href="javascript:;" data-param="att[chat-lieu]" data-param-value="vai-excool"
            data-title="Vải Excool" rel-script="filter-item" class="site-collections-filter-button__items "><span
              class="site-collections-filter-button__item"><span class="site-collections-filter-button__title">Vải
                Excool</span> <span class="site-collections-filter-button__description">Chống nhăn, Chống tia
                UV</span></span></a> <a href="javascript:;" data-param="att[chat-lieu]"
            data-param-value="vai-polyester-tinh-nang" data-title="Vải Polyester tính năng" rel-script="filter-item"
            class="site-collections-filter-button__items "><span class="site-collections-filter-button__item"><span
                class="site-collections-filter-button__title">Vải Polyester tính năng</span> <span
                class="site-collections-filter-button__description">Nhanh khô, thấm hút nhanh</span></span></a> <a
            href="javascript:;" data-param="att[chat-lieu]" data-param-value="vai-recycle" data-title="Vải Recycle"
            rel-script="filter-item" class="site-collections-filter-button__items "><span
              class="site-collections-filter-button__item"><span class="site-collections-filter-button__title">Vải
                Recycle</span> <span class="site-collections-filter-button__description">Thân thiện với môi
                trường</span></span></a></div>
      </div>
    </div>
  </div>
  <div class="collections-filter">
    <div class="container container--full">
      <div class="collections-filter__wrapper">
        <div class="collections-filter__inner">
          <h1 class="collections-filter__heading">
            Áo Polo Nam
          </h1>
        </div>
        <div class="collections-filter__selects mobile--hidden">
          <div class="filter-select">
            <div class="filter-select__item">
              <div class="custom-select"><select name="loai-san-pham" class="attribute-filter-selector">
                  <option value="">Loại sản phẩm</option>
                  <option value="Polo" data-title="">
                    Áo Polo</option>
                </select>
                <div class="select-selected">Loại sản phẩm</div>
                <div class="select-items select-hide">
                  <div data-value="Polo"><span>
                      Áo Polo</span></div>
                </div>
              </div>
            </div>
            <div class="filter-select__item">
              <div class="custom-select"><select name="tinh-nang" class="attribute-filter-selector">
                  <option value="">Tính năng</option>
                  <option value="chong-nhan" data-title="">
                    Chống nhăn</option>
                  <option value="chong-tia-uv" data-title="">
                    Chống tia UV</option>
                  <option value="co-gian-tot" data-title="">
                    Co giãn tốt</option>
                  <option value="khang-khuan-khu-mui" data-title="">
                    Kháng khuẩn, khử mùi</option>
                  <option value="mem-mai" data-title="">
                    Mềm mại</option>
                  <option value="nhanh-kho-thoang-khi" data-title="">
                    Nhanh khô, thoáng khí</option>
                  <option value="tham-hut-tot" data-title="">
                    Thấm hút tốt</option>
                </select>
                <div class="select-selected">Tính năng</div>
                <div class="select-items select-hide">
                  <div data-value="chong-nhan"><span>
                      Chống nhăn</span></div>
                  <div data-value="chong-tia-uv"><span>
                      Chống tia UV</span></div>
                  <div data-value="co-gian-tot"><span>
                      Co giãn tốt</span></div>
                  <div data-value="khang-khuan-khu-mui"><span>
                      Kháng khuẩn, khử mùi</span></div>
                  <div data-value="mem-mai"><span>
                      Mềm mại</span></div>
                  <div data-value="nhanh-kho-thoang-khi"><span>
                      Nhanh khô, thoáng khí</span></div>
                  <div data-value="tham-hut-tot"><span>
                      Thấm hút tốt</span></div>
                </div>
              </div>
            </div>
            <div class="filter-select__item">
              <div class="custom-select"><select name="sort">
                  <option value="">Sắp xếp</option>
                  <option value="new" selected="selected">Mới nhất</option>
                  <option value="bestseller">Bán chạy</option>
                  <option value="price-asc">Giá thấp đến cao</option>
                  <option value="price-desc">Giá cao đến thấp</option>
                  <option value="percent">% giảm giá nhiều</option>
                </select>
                <div class="select-selected">Mới nhất</div>
                <div class="select-items select-hide">
                  <div data-value="new"><span>Mới nhất</span></div>
                  <div data-value="bestseller"><span>Bán chạy</span></div>
                  <div data-value="price-asc"><span>Giá thấp đến cao</span></div>
                  <div data-value="price-desc"><span>Giá cao đến thấp</span></div>
                  <div data-value="percent"><span>% giảm giá nhiều</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-tags" style="display: none;">
    <div class="container container--full">
      <div class="filter-tags__wrapper"><span class="filter-tags__label">
          Xem theo:
        </span>
        <div style="margin-left: 10px;"><a href="https://www.coolmate.me/collection/ao-polo-nam?sort=new"
            id="removeAllFilter" style="text-decoration: underline;">Xoá lọc</a></div>
      </div>
    </div>
  </div>
  <section class="collections-listings">
    <div class="container container--full">
      <div id="ao-polo-lam-tu-soi-cafe1" class="collections-listings__wrapper">
        <h2 class="collections-listings__heading">
          Áo Polo Ứng Dụng Công Nghệ Excool
        </h2>
      </div>
      <div class="collections-listings__descriptions">
        <p><span style="white-space: pre-wrap;">Ứng dụng công nghệ mới với 8 tính năng vượt trội: <br></span><span
            style="white-space: pre-wrap;">mát, co giãn, nhanh khô, chống tia UV, nhẹ, khử mùi, dễ chăm sóc, bền.</span>
        </p>
      </div>
      <div data-collection-title="Áo Polo Ứng Dụng Công Nghệ Excool"
        class="grid grid--five-columns large-grid--four-columns tablet-grid--three-columns mobile-grid--two-columns product-list">
        <app-product [isCollectionImg]="true"
        [srcCollectionImg]="'https://media.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/June2022/excool.jpg'"
        class="grid__column" style="position:relative;"></app-product>
        <app-product *ngFor="let product of poloExcool" [product]="product" class="grid__column" style="position:relative;"></app-product>
      </div>
      <div id="ao-polo-the-thao" class="collections-listings__wrapper">
        <h2 class="collections-listings__heading">
          Áo Polo Thể Thao
        </h2>
      </div>
      <div class="collections-listings__descriptions">
        <p><span style="white-space: pre-wrap;">Vải được xử lý hoàn thiện Quickdry (Nhanh khô) và Wicking (Thấm hút
            nhanh) <br></span><span style="white-space: pre-wrap;">để bạn luôn dễ chịu trong mọi vận động.</span></p>
      </div>
      <div data-collection-title="Áo Polo Thể Thao"
        class="grid grid--five-columns large-grid--four-columns tablet-grid--three-columns mobile-grid--two-columns product-list">
        <app-product [isCollectionImg]="true"
        [srcCollectionImg]="'https://media.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/April2022/polosport2x-100.jpg'"
        class="grid__column" style="position:relative;"></app-product>
        <app-product *ngFor="let product of poloActive" [product]="product" class="grid__column" style="position:relative;"></app-product>
      </div>


      <div id="ao-polo-lam-tu-soi-cafe" class="collections-listings__wrapper">
        <h2 class="collections-listings__heading">
          Áo Polo Làm Từ Sợi Cafe
        </h2>
      </div>
      <div class="collections-listings__descriptions">
        <p><span style="white-space: pre-wrap;">Nguyên liệu thân thiện với môi trường là sợi café <br></span><span
            style="white-space: pre-wrap;">để chiếc áo có nhiều tính năng: khử mùi, mát, nhanh khô và chống nắng</span>
        </p>
      </div>
      <div data-collection-title="Áo Polo Làm Từ Sợi Cafe"
        class="grid grid--five-columns large-grid--four-columns tablet-grid--three-columns mobile-grid--two-columns product-list">
        <app-product [isCollectionImg]="true"
        [srcCollectionImg]="'https://media.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/April2022/polocf2x-100.jpg'"
        class="grid__column" style="position:relative;"></app-product>
        <app-product *ngFor="let product of poloCafe" [product]="product" class="grid__column" style="position:relative;"></app-product>
      </div>
    </div>
  </section>
  <section>
    <div class="container container--medium">
      <div class="collection-body">
        <p><a href="https://www.coolmate.me/collection/ao-polo-nam">Áo polo</a> hay <strong>áo thun, áo phông nam có
            cổ</strong> là loại<a href="https://www.coolmate.me/collection/ao-nam"> áo nam</a> với thiết kế kiểu dáng cổ
          áo khá giống với cổ áo sơ mi, thường được đính với cúc cài áo. Chính nhờ thiết kế này, <strong>áo thun, áo
            phông polo</strong> trở nên đẹp sang trọng và lịch sự hơn so với những chiếc áo thun thông thường.</p>
        <p dir="ltr"><em>=&gt;&gt;&gt; Xem thêm:<a
              href="https://www.coolmate.me/post/ao-polo-la-gi-tat-tan-tat-ve-ao-polo-nam"> áo polo</a> là gì?</em></p>
        <h2 dir="ltr">Kiểu dáng áo polo nam phổ biến hiện nay&nbsp;</h2>
        <p dir="ltr">- Classic - fit là kiểu dáng <strong>áo thun nam polo</strong> cổ điển, dáng áo suông không ôm và
          không có bất kỳ một chi tiết nào bó sát cơ thể. Kiểu dáng thiết kế rộng rãi, thoáng mát mang đến cho người mặc
          một cảm giác không bị gò bó.</p>
        <p dir="ltr">- Regular - fit được cách tân từ dáng Classic- Fit truyền thống với vòng eo được bóp lại bé hơn
          cùng với đó là nách và ngực sẽ được cắt không rộng bằng kiểu dáng Classic- Fit. Mức độ ôm dáng của<a
            href="https://www.coolmate.me/collection/ao-polo-nam"> áo thun nam có cổ</a> Regular- Fit nằm giữa Classic-
          Fit và Slim-Fit.</p>
      </div> <a href="#" rel-script="collection-body-view-more" class="collection-body-view-more">Xem thêm</a>
    </div>
  </section>
</main>
