<div class="col-12">
  <div class="card">
    <h5>Quản lý đơn hàng</h5>
    <p-toast></p-toast>
    <p-table [value]="dataMo" dataKey="name" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="categoryId">Khách hàng <p-sortIcon field="categoryId"></p-sortIcon></th>
          <th pSortableColumn="categoryName">Ngày đặt hàng <p-sortIcon field="categoryName"></p-sortIcon></th>
          <th class="text-center">
              Trạng thái
          </th>
          <th class="text-center">Phương thức thanh toán</th>
          <th class="text-center">Tổng tiền</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dataMo let-expanded="expanded" let-rowIndex="rowIndex">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="dataMo"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td >{{dataMo.user.userName}}</td>
          <td >{{dataMo.orderDate | FormatDatePipe}}</td>
          <td class="text-center">
            <span [class]="'customer-badge status-qualified'">{{dataMo.status}}</span>
          </td>
          <td class="text-center">
            {{dataMo.paymentMethod}}
          </td>
          <td class="text-center">
           {{dataMo.totalPrice | FormatVndPipe}}
          </td>
        </tr>
      </ng-template>


    </p-table>
  </div>
</div>
